<script type="text/javascript" >

    var grid_demo_id = "bodega_grid";


    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'nombre'},
            {name: 'nombre_cli'},
            {name: 'descripcion'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'id', header: "Id", width: 80},
        {id: 'nombre', header: "Nombre", width: 250},
        {id: 'nombre_cli', header: "Encargado", width: 150},
        {id: 'descripcion', header: "Descripcion", width: 250}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/nymsa/grid_tables/bodega_grid_1',
        saveURL: '',
        width: "733", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });

    $(document).ready(function() {
        $('#id_').bind('change', obtenerBodega);
        $('#id_').bind('keyup', validarId);
        $('#btnBorrar').bind('click', eliminarBodega);
        $('#esConsigna').bind('click', alternarCombo);

        var url_parser = new url_handler();
        url_parser.initialize();
        if (url_parser.isKey('err_no')) {
            if (url_parser.getValue('err_no') == 404) {
                alert('la bodega no existe');
            }
        }
    });

    function eliminarBodega() {
        var _idBodega = $('#id_').val().trim();
        if (isNaN(_idBodega)) {
            $('#id_').val("");
        } else {
            var des = confirm("Esta seguro?, no puede deshacer la operacion.");
            if (des) {
                var uri = '/nymsa/inventario/eliminar_bodega?id=';
                location.href = uri + _idBodega;
            }
        }
    }

    function validarId() {
        var _idBodega = $('#id_').val().trim();
        if (isNaN(_idBodega)) {
            $('#id_').val("");
        }
    }

    function obtenerBodega() {
        var uri = '/nymsa/inventario/obtenerBodega';
        var _idBodega = $('#id_').val().trim();
        var data = {
            idBodega: _idBodega
        };

        if (isNaN(_idBodega))
            $('#id_').val("");
        else {
            var post_r = $.post(uri, data, function(d) {
                var esConsigna = !(d.bodega_consigna == "");
                $('#nombre').val(d.nombre);
                $('#descripcion').val(d.descripcion);
                if (esConsigna) {
                    // sustituir empleado por cliente
                } else {
                    $("#encargado option[value=" + d.encargado + "]").attr("selected", true);
                }
            }, "json");
        }
    }

    function alternarCombo() {
        if ($('#esConsigna').attr("checked")) {
            $('#propietario').removeAttr("disabled");
            $('#propietarioc').css("display", "block");
            $('#encargadoc').css("display", "none");
            $('#encargado').attr("disabled", "disabled");
        } else {
            $('#encargado').removeAttr("disabled");
            $('#encargadoc').css("display", "block");
            $('#propietarioc').css("display", "none");
            $('#propietario').attr("disabled", "disabled");
        }
    }

</script>
<style>
    #n_bodega  input, #n_bodega  textarea{
        margin-bottom: 5px;
    }
</style>
<div id="page-container">
    <div id="content">
        <h3>Administración de bodegas</h3>
        <hr/>
        <h2>Nueva bodega</h2>
        <form action="/nymsa/inventario/guardar_bodega" method="post">
            <div style="border:solid 1px #D3D3D3; margin-right:20px;padding:20px;display:table;">
                <div style="float:left;margin-left:20px;">
                    <div style="text-align:right;padding-right:70px;">
                        <br/>
                        Bodega para cliente <input type="checkbox" name="esConsigna" id="esConsigna" />
                        <br/>
                        <br/>
                        Rellenar correlativos vacíos <input type="checkbox" name="rellenar" id="rellenar" /> 
                    </div>
                    <br/>
                    Id: 
                    <div class="input-control text">
                        <input type="text" style="width:300px;" name="id" id="id_"/>
                    </div>
                    <br/>
                    Nombre:
                    <div class="input-control text"  id="n_bodega"> 
                        <input type="text" style="width:300px;" name="nombre" id="nombre" required/>
                    </div> 
                    <br/> 
                    Encargado:
                    <div class="input-control select" id="encargadoc">
                        <select style="width:300px;" name="encargado" id="encargado">
                            <!-- START empleados -->
                            <option value="{id_datos}">{usuario}</option>
                            <!-- END empleados -->
                        </select>
                    </div>
                    <div class="input-control select" id="propietarioc" style="display:none;">
                        <select style="width:300px;" name="encargado" id="propietario" disabled="disabled">
                            <!-- START clientes -->
                            <option value="{codigo_afiliado}">{primer_nombre} {primer_apellido} [{codigo_afiliado}]</option>
                            <!-- END clientes -->
                        </select>
                    </div>
                </div>
                <div style="float:left;">
                    <br/>
                    Descripci&oacute;n: 
                    <div class="input-control textarea">
                        <textarea style="width:300px;" name="descripcion" id="descripcion" required></textarea>
                    </div>
                    <br/>
                    <br/>
                    <button type="submit" class="info">Guardar</button>
                    <button type="button" id="btnBorrar"><i class="icon-cancel"></i> Eliminar</button>
                </div>
            </div>
        </form>
        <h2>Bodegas</h2>
        <hr/>
        <div id="bigbox" style="margin:15px;display:!none;margin:0 auto;left:0px;right:0px;">
            <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;margin:0 auto;left:0px;right:0px;" >

            </div>
        </div>
    </div>
</div>