<h3> Cambio masivo de Grupo </h3>

<div class="input-control select span4">
    <p>Grupo actual</p>
    <select id="grupoActual">
        <!-- START grupo01 -->
        <option value="{id}">[{id}] - {nombre}</option>
        <!-- END grupo01 -->
    <select/> 
</div>


<div class="input-control text span4">
    <p>Estilo actual</p>
    <input type="text" id="estilo"/>
</div>
<div style="clear.: both;"></div>
<div class="input-control select span4">  
    <p>Nuevo grupo</p> 
    <select id="nuevoGrupo">
        <!-- START grupo02 -->
        <option value="{id}">[{id}] - {nombre}</option>
        <!-- END grupo02 -->
    <select/>
</div>  

<button id="procesar" type="button"> Realizar cambio </button>
        <script>
            $(document).ready(function() {
                $('#procesar').bind('click', cambioGrupo);
            });

            function cambioGrupo() {
                this.disabled = "disabled";
                var _grupoActual = $('#grupoActual').val();
                var _nuevoGrupo = $('#nuevoGrupo').val();
                var _estilo = $('#estilo').val().trim();
                if (_estilo == "") {
                    alert("Especifique un estilo");
                    $('#procesar').removeAttr("disabled");
                }
                else {
                    var uri = '/nymsa/inventario/s_cambio_grupo';
                    var data = {
                        grupoActual: _grupoActual,
                        nuevoGrupo: _nuevoGrupo,
                        estilo: _estilo
                    };

                    var post_r = $.post(uri, data, function(d) {
                        alert(d.message);
                        $('#procesar').removeAttr("disabled");
                    }, "json");
                }
            }
        </script>