<style type="text/css">
    .nymsaAdvice{
        padding: 10px;
        background-color: #F6CECE;
        width: auto;
        height: auto;
        border: solid 2px #F78181;         
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 15px;  
    }
 </style>

<script>
    
    $(document).ready(function(){
        window.nymsaLinea = null;
        $('#proveedor').bind('change',obtenerPrefijo);
        $('#proveedor').change();
    });

    function obtenerPrefijo(){
        var prov = $('#proveedor').val();
        var rest = "";
        if(prov < 10) { 
            rest = "000"+prov;
        }else if(prov >= 10 && prov < 100) {
            rest = "00"+prov;
        }else if(prov >= 100 && prov < 1000){
            rest = "0"+prov;
        }else{
            rest = prov;
        }

        $('#fgs').val(rest);
    }

    var grid_demo_id  = "producto_grid";
    var grid_demo2_id = "producto2_grid";
    var grid_demo3_id = "producto3_grid";
    var _nColorBuffer = [];
    var _nDebugSystem = true; 
    
    function sendT(){
        $('#talla_prod').submit();
    }
    
    // carga los datos de productos ya existentes
    function xTESt(event){             
        var nuevo_estilo = $(event.target).val().trim();
        var rq_url       = '/nymsa/inventario/comprobar_estilo'; 
        var grid         = Sigma.$grid("producto2_grid"); 
        var grid2        = Sigma.$grid("producto3_grid"); 
        var http_request = $.post(rq_url, {estilo:nuevo_estilo, doc:{documento}}, function(data){
            if (data.found){
                if(data.auth){
                    clearColorContainer();
                    resetColorContainer();
                    window.nymsaLinea = data.data.linea;
                    for(var j = 0; j < data.data.colors.length; j++){
                        appendColorE(data.data.colors[j].color);
                    }

                    $('#cfslinea').val(data.data.linea);
                    $('#codigo_origen').val(data.data.codigo_origen);
                    $('#descripcion').val(data.data.descripcion);
                    $('#n_pagina').val(data.data.n_pagina);
                    $('#dias_garantia').val(data.data.dias_garantia);
                    $('#fecha_ingreso').val(data.data.fecha_ingreso);
                    $('#observacion').val(data.data.observacion);
                    $("#linea option[value=" + data.data.linea + "]").attr("selected", true);
                    $("#tacon option[value=" + data.data.tacon + "]").attr("selected", true);
                    $("#suela option[value=" + data.data.suela + "]").attr("selected", true);
                    $("#grupo option[value=" + data.data.grupo + "]").attr("selected", true);
                    $("#material option[value=" + data.data.material + "]").attr("selected", true);
                    $("#concepto option[value=" + data.data.concepto + "]").attr("selected", true);
                    $("#catalogo option[value=" + data.data.catalogo + "]").attr("selected", true); 
                    $("#genero option[value=" + data.data.genero + "]").attr("selected", true);
                    $("#marca option[value=" + data.data.marca + "]").attr("selected", true);
                    $("#propiedad option[value=" + data.data.propiedad + "]").attr("selected", true); 
                    $('#nota').val(data.data.nota); 

                    if(!data.temp){
                        $('#nw_b input').attr('disabled', 'disabled');
                        $('#nw_b select').attr('disabled', 'disabled');
                        $('#nw_b button').attr('disabled', 'disabled');
                        $('#nw_b textarea').attr('disabled', 'disabled');
                    }

                    $('#coloresProducto').removeAttr("disabled");
                    $('#color').removeAttr("disabled");
                    $('#btnAddColor').removeAttr("disabled");
                    $('#btnSaveProduct').removeAttr("disabled");

                    $('.nd_s').removeAttr('disabled'); 
                    grid.loadURL = '/nymsa/inventario/cargar_stock_ce/'+nuevo_estilo;
                    grid2.loadURL = '/nymsa/inventario/cargar_ce/' +nuevo_estilo;
                    grid.reload();
                    grid2.reload();

                    /**************BOTON***************/
                    $('#CTBTN').bind('click', function(){
                        $('#seleccionado').html($('#fgs').val());
                        $('#estado_seleccion').val('1');
                        $('#res_t img').remove();
                        $('#corrida select').removeAttr('disabled');
                        $('#corrida button').removeAttr('disabled');
                        //$('#res_t').append('<img src=" ../static/img/producto s/thumbnail_'+record[ 'estilo']+'" alt=" Imagen no asignada"   width="400"/>');
                        mostrar();
                        showPane('editCyT');
                    });

                    $('#CTBTN').addClass('default');
                    $('#CTBTN').removeClass('disabled');
                }else{
                    $('#fgs').val("");
                    $('#codigo_origen').val("");
                    $('#fgs').focus();
                    alert("El estilo ya existe en otro documento (No."+data.ref_doc+")");
                }    

            } else{
                $('#nw_b input').removeAttr('disabled');
                $('#nw_b select').removeAttr('disabled');
                $('#nw_b button').removeAttr('disabled');
                $('#nw_b textarea').removeAttr('disabled');
                $('#CTBTN').unbind('click');
                $('#CTBTN').addClass('disabled');
                $('#CTBTN').removeClass('default');
            }
        }, "json");
    }

    function xst(event){
        event.preventDefault();
        $('#fgs').val('');
        $('#nw_b input').removeAttr('disabled');
        $('#nw_b select').removeAttr('disabled');
        $('#nw_b button').removeAttr('disabled');
        $('#nw_b textarea').removeAttr('disabled');
    }

    function url_render(value, record, columnObj, grid, colNo, rowNo){
        var estilo = $("#prod").html().trim();
        var color  = record['color'];
        $('#estilo').val(estilo);
        $('#color').val(color);
        return "<a href=\"javascript: void(0);\" onclick=\"show_hidden_form(event,'corrida');\">Agregar corrida</a>";
    }

    function nuevo_color(event){
        event.preventDefault();
        var estilo  = $('#fproducto').val();
        var _color  = $('#color').val();
        var _linea  = window.nymsaLinea;
        var url_consulta = '/nymsa/inventario/salvar_color';
        var exists = false;
        $('#pcolores  option').each(function(){
            if(this.value == _color)  {
                exists = true;
            }
        });
        if (!exists){
            var ajax = $.post(url_consulta, {"color_estilo_producto":estilo, "color":_color, "linea":_linea});
            ajax.done(function(data){
                var id    = data.trim();
                var color = $('#opt_color_'+id).html().trim();
                $('#pcolores').append('<option value="'+id+'" selected="selected">'+color +'</option>');
            });
        }
    }

    function edicionTallas(){     
        $('#estilo').val($('#fgs').val());
        $('#corrida').css('display', 'none');
        $('#nueva_corrida').css('display', 'block');
        $('#gtp').css('display', 'block'); 
        $('#gts').css('display', 'block');
        $('#foto').css('display', 'block');
        $('#foto2').css('display', 'block');
    }

    function edicionColores() {
        $('#corrida').css('display', 'block');
        $('#nueva_corrida').css('display', 'none');
        $('#gtp').css('display', 'none');
        $('#gts').css('display', 'none');
        $('#foto').css('display', 'none');
        $('#foto2').css('display', 'none');
    }

    function mostrar(){
        var record = new Array();
        record['estilo'] = $('#seleccionado').html().trim();
        $('#fproducto').val(record['estilo']);
        $('#pcolores option').remove();
        var url_consulta = '/nymsa/inventario/colores_producto';
        var ajax = $.post(url_consulta, {estilo: record['estilo']});
        ajax.done(function(data){
            var colores = data.trim().split(',');
            for (var i = 0; i < colores.length; i++){
                var id = colores[i].split('(')[1].split(')')[0];
                var color = colores[i].split('(')[0];
                $('#pcolores').append('<option value="' + id + '" selected="selected">' + color + '</option>'); 
                $('#pcolores option').removeAttr('selected');
            }
        }); 
    }

    function foto(event){
        var record = new Array();
        if(($('#estado_seleccion').val().trim()) != '0')
        {
            record['estilo'] = $('#seleccionado').html().trim();
            $('#foproducto').html(record['estilo']);
            $('#foestilo').val(record['estilo']);
            show_hidden_form_ne('foto');
        }else{
            alert('Selecciona un producto para editar');
        }
    }

    function eliminar_color(event){
        event.preventDefault();
        var colores = $('#pcolores').val();
        var _estilo = $('#seleccionado').html().trim();
        var url_request = '/nymsa/inventario/borrar_colores';
        var ajax = $.post(url_request, {string_colores:colores, estilo:_estilo});
        window.color_ = colores;
        ajax.done(function(data){
            if(data.trim() == ""){
                $("#pcolores").find("option[value='" + window.color_ + "']").remove();
            }else{
                alert(data);
            }
        });
    }

    var dsOption = {

        fields :[
            {name : 'estilo'  },
            {name : 'linea'  }, 
            {name : 'codigo_origen'  },
            {name : 'descripcion'  },
            {name : 'proveedor'  },
            {name : 'catalogo'  },
            {name : 'n_pagina'  },
            {name : 'genero'  },
            {name : 'marca'  },
            {name : 'propiedad'  },
            {name : 'observacion'  },
            {name : 'fecha_ingreso'},
            {name : 'nota'  }
        ],
        uniqueField: 1,
        recordType : 'object'
    }

    var dsOption2 = {
        fields :[
            {name : 'estilo'  },
            {name : 'color'  },
            {name : 'talla'  }
        ],
        recordType : 'object'
    }

    var dsOption3 = {
        fields :[
            {name : 'estilo'  },
            {name : 'linea'  },
            {name : 'codigo_origen'  },
            {name : 'descripcion'  },
            {name : 'proveedor'  },
            {name : 'catalogo'  },
            {name : 'n_pagina'  },
            {name : 'genero'  },
            {name : 'marca'  },
            {name : 'propiedad'  },
            {name : 'observacion'  },
            {name : 'fecha_ingreso'},
            {name : 'nota'  }
        ],
        uniqueField: 1,
        recordType : 'object'
    }

    var colsOption = [
        {id: 'estilo', header: "Estilo", width:90 },
        {id: 'linea', header: "Linea", width:50},
        {id: 'codigo_origen', header: "Codigo de origen", width :110},
        {id: 'catalogo', header: "Catalogo", width :70},
        {id: 'n_pagina', header: "N. Pagina", width :80},
        {id: 'fecha_ingreso' , header: "Ingresa el " , width :95}
    ];


var colsOption2 = [
     {id: 'estilo' , header: "Estilo" , width :80 },
     {id: 'color' , header: "Color" , width :100},
     {id: 'talla' , header: "Talla" , width :100}
       
];


var colsOption3 = [
     {id: 'estilo' , header: "Estilo" , width :90},
     {id: 'linea' , header: "Linea" , width :50 },
     {id: 'codigo_origen' , header: "Codigo de origen" , width :110},
     {id: 'catalogo' , header: "Catalogo" , width :70 },
     {id: 'n_pagina' , header: "N. Pagina" , width :80 },
     {id: 'fecha_ingreso' , header: "Ingresa el " , width :95}      
];


var gridOption={
  id : grid_demo_id,
  loadURL : '/nymsa/inventario/cargar_cf?tblname=documento_producto&value={documento}&field=numero_documento',
  saveURL : '',
  width: "100%",  //"100%", // 700,
  height: "260",  //"100%", // 330,
  container : 'gridbox', 
  onCellClick  : function(value, record , cell, row,  colNO, rowNO,columnObj,grid){
    if(colNO == 0 && record['estilo'].trim()!="")
    {
        $('#fgs').focus();
        $('#fgs').val(record['estilo']);
        $('#fgs').change();
        closePane('thisDoc');
    }
  },
  replaceContainer : true,
  encoding : 'UTF-8', // Sigma.$encoding(), 
  dataset : dsOption ,
  columns : colsOption ,
  clickStartEdit : true ,
  defaultRecord : {'id':"00"},
  pageSize:10,
  toolbarContent : ' filter | nav state'
};


var gridOption2={
  id : grid_demo2_id,
  loadURL : '',
  saveURL : '/nymsa/inventario/establecer_stock',
  width: "100%",  //"100%", // 700,
  height: "260",  //"100%", // 330,
  container : 'gridbox2', 
  replaceContainer : true,
  encoding : 'UTF-8', // Sigma.$encoding(), 
  dataset : dsOption2 ,
  columns : colsOption2 ,
  clickStartEdit : true ,
  defaultRecord : {'id':"00",'nombre':""},
  pageSize:10,
  toolbarContent : 'reload filter nav state'
};


var gridOption3={
  id : grid_demo3_id,
  loadURL : '',
  saveURL : '/nymsa/inventario/actualizar?tblname=producto',
  width: "100%",  //"100%", // 700,
  height: "260",  //"100%", // 330,
  container : 'gridbox3', 
  replaceContainer : true,
  encoding : 'UTF-8', // Sigma.$encoding(), 
  dataset : dsOption3 ,
  columns : colsOption3 ,
  clickStartEdit : true ,
  defaultRecord : {'id':"00"},
  pageSize:10,
  toolbarContent : 'filter | nav state'
};

function ver_tallas(){
  var colores = $('#pcolores').val();
  var last    = colores[colores.length - 1].toString();
  $('#corrida_color').html($("#pcolores").find("option[value='"+last+"']").html());
  $('#foto_color').html($("#pcolores").find("option[value='"+last+"']").html());
  $('#color_form').val(last);
  $('#estilo').val($('#fproducto').val());
  $('#talla_prod input').removeAttr('disabled');
  $('#foto input').removeAttr('disabled');
  $('#foestilo').val($('#seleccionado').html().trim()+'_'+last);
  $('#res_t img').remove();
  //$('#res_t').append('<img src="../static/img/productos/thumbnail_'+$('#seleccionado').html().trim()+'_'+last+'" alt="Imagen no asignada" width="200"/>');
  var ajax = $.post('/nymsa/inventario/preliminar_tallas',{estilo:$('#seleccionado').html().trim(),color:last});
  ajax.done(function(data){
    $('#tallas_tabla').html(data);
  });
}

var mygrid = new Sigma.Grid( gridOption );

Sigma.Util.onLoad(function(){
  mygrid.render()
});

var mygrid2=new Sigma.Grid( gridOption2 );
Sigma.Util.onLoad(function(){mygrid2.render()}); 

var mygrid3=new Sigma.Grid( gridOption3 );
Sigma.Util.onLoad(function(){mygrid3.render()}); 

  $('#talla_prod').on('submit',function(event){
      var status = confirm("seguro de realizar esta accion?");
      if(status){
        var flg1 = true;
        var flg2 = true;
        var flg3 = true;
        if(($('#inf_corrida').val()+0.0) <= 0 || isNaN($('#inf_corrida').val())){
          flg1 = false;
        }
        if(($('#sup_corrida').val()+0.0) <= 0 || isNaN($('#sup_corrida').val())){
          flg2 = false;
        }
        if(($('#sup_corrida').val())-($('#inf_corrida').val())<0) flg3 = false;
            if(!(flg1 && flg2 && flg3)) 
                alert('Ingrese valores validos');
        return (flg1 && flg2 && flg3);
      }else{
        return status;
      }
  });

function saveNewProduct(){
    if(confirm("Desea confirmar sus cambios?")){
        var selectedColors  = _nColorBuffer.length;
        var currentVal      = '';
        var dataSend        = {};
        var validFormFlag   = true;
        var requiredValues  = [
            'fgs'
            ,'linea'
            ,'descripcion'
            ,'proveedor'
            ,'catalogo'
            ,'n_pagina'
            ,'genero'
            ,'marca'
            ,'propiedad'
            ,'fecha_ingreso'
        ];

        if(selectedColors < 1){
            alert("Por favor, Ingrese al menos un color");
        }else{
            for(var m = 0; m < requiredValues.length; m++){
                currentVal  = $('#'+requiredValues[m]).val();
                if(!currentVal) currentVal = '';
                if(currentVal.trim()=="" || typeof(currentVal)==undefined){
                    validFormFlag = false;
                    if(requiredValues[m]!='fgs')
                        alert("Error: Falta "+requiredValues[m]);
                    else
                        alert("Error: Falta estilo");
                }
            }

            /* organizar datos a ser enviador al servidor */
            if(validFormFlag){
             
                dataSend = {
                    "estilo" : $('#fgs').val().trim(),
                    "linea"  : $('#linea').val().trim(),
                    "codigo_origen" : $('#codigo_origen').val().trim(),
                    "descripcion":$('#descripcion').val().trim(),
                    "proveedor":$('#proveedor').val().trim(),
                    "catalogo":$('#catalogo').val().trim(),
                    "n_pagina":$('#n_pagina').val().trim(),
                    "genero":$('#genero').val().trim(),
                    "marca":$('#marca').val().trim(),
                    "suela":$('#suela').val().trim(),
                    "concepto":$('#concepto').val().trim(),
                    "grupo":$('#grupo').val().trim(),
                    "tacon":$('#tacon').val().trim(),
                    "material":$('#material').val().trim(),
                    "propiedad":$('#propiedad').val().trim(),
                    "fecha_ingreso":$('#fecha_ingreso').val().trim(),
                    "dias_garantia":$('#dias_garantia').val().trim(),
                    "colores":_nColorBuffer,
                    "observacion":$('#observacion').val().trim(),
                    "nota":$('#nota').val().trim(),
                    "documento":{documento}
                };
                
                //alert(JSON.stringify(dataSend));

                var uri  = "/nymsa/inventario/guardarNuevoProducto";
                var data = { "productInfo" : JSON.stringify(dataSend) };
                
                $.post(uri, data, function(d){
                    if(d.found){
                        alert("el producto se ha actualizado exitosamente");
                        location.href = location.href;     // reload current page
                    }else{
                        alert("El producto se ha ingresado exitosamente");
                        location.href = location.href;     // reload current page
                    }
                }, "json");
            }
        }
    }    
 }

  function closePane(idPane){
    if($('#'+idPane).css('right') == '0px'){
      $('#'+idPane).animate({
        'right':'-620px'
      },500);
    }
  }

 function showPane(idPane){
    $('.sidePane').animate({
        'right':'-620px'
    },500);
    
    if($('#'+idPane).css('right') == '-620px'){
        $('#'+idPane).animate({
            'right':'0px'
        },400);
    }
 }

  function colorExist(newColor){
    var cLenght = _nColorBuffer.length;
    for(var i = 0; i < cLenght; i++){
      if(_nColorBuffer[i] == newColor) return true;
    } return false;
  }

  function colorAdd(newColor){
    _nColorBuffer.push(newColor);
  }

  function appendColorE(idColor){
    var selectedColor = idColor;
    if(!colorExist(selectedColor)){
        colorAdd(selectedColor);
        resetColorContainer();
        updateColorContainer();
    }else{
        alert("Error: Ya existe color.");
    } 
  }

  function clearColorContainer(){
     _nColorBuffer = [];
  }

  function appendColor(event){
    var selectedColor = $('#color').val();
    if(!colorExist(selectedColor)){
        colorAdd(selectedColor);
        resetColorContainer();
        updateColorContainer();
    }else{
        alert("Error: Ya existe color.");
    }
  }

  function checkSelected(){
    var selectedColors  = $('#coloresProducto').val();
    var quantiy         = selectedColors.length;
    if(quantiy > 0){
      $('#selectedColors').html(quantiy + ' seleccionados (<a href="javascript: void(0);" onclick="removeSelectedColors();">eliminar</a>)');
    }else{
      $('#selectedColors').html("");
    }
  }

  function removeSelectedColors(){
    var selectedColors  = $('#coloresProducto').val();
    var quantiy         = selectedColors.length;
    for(var k = 0; k < quantiy; k++){
      _nColorBuffer.splice(_nColorBuffer.indexOf(selectedColors[k]),1);
    }
    resetColorContainer();
    updateColorContainer();
    $('#selectedColors').html("");
  }

  function resetColorContainer(){
    $('#coloresProducto').find('option').remove();
  }

  function updateColorContainer(){
    var cLenght   = _nColorBuffer.length;
    var colorName = '';
    var optStr    = '';

    for(var k = 0; k < cLenght; k++){
      colorName = $("#color option[value='"+_nColorBuffer[k]+"']").text();
      optStr    = '<option value="'+_nColorBuffer[k]+'">'+colorName+'</option>';
      $('#coloresProducto').append(optStr);
    } 
  }
  
function checkNumber(event, id){
    var dias = $('#'+id).val().trim();
    if(isNaN(dias)){
        $('#'+id).val("");
        $('#'+id).focus();
    }
}

function copyCode(event){
    var estilo = $('#fgs').val().trim();
    $('#codigo_origen').val(estilo);
}

</script>

<h3 class="nav-bar fg-color-white" style="padding:10px;"> 
    Edición de catálogo de productos - 
    <strong>
        Documento #{documento}
    </strong>
</h3>
<div id="page-container">
    <div style="margin-right:30px;">

        <button type="button" id="CTBTN" class="default disabled">
            Tallas
        </button>      
        <form id="nw_b">
            <div style="border:solid 1px #D3D3D3;padding:35px;display:table;">
                <div style="padding: 30px;">
                    <h3>
                        Registrar un nuevo producto
                    </h3>
                    <div style="float:right;margin-left:5px;">
                        <a href="javascript: void(0);" onclick="showPane('thisDoc');">En este documento <i class="icon-new"></i></a>  | 
                        <a href="javascript: void(0);" onclick="showPane('general');">General <i class="icon-database"></i></a>   |  
                        <a href="javascript: void(0);" onclick="showPane('detail');">Detalle <i class="icon-list"></i></a>
                    </div>
                    <hr/>
                    <p class="nymsaAdvice">
                        Todos los campos marcados con (*) son obligatorios
                    </p>
                    <br/>
                    <div style="width:200px; float:left; text-align: right; margin:10px;margin-bottom:50px;">
                        *Estilo:
                        <input type="text" style="width:100px;margin-bottom:5px;" onkeyup="copyCode(event);" name="estilo" id="fgs" class="nd_s" onchange="xTESt(event);" required/>
                        <br/>
                        *Linea: 
                        <select name="linea" id="linea" style="width:100px;margin-bottom:5px;" required/>
                        <!-- START lineas_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END lineas_ -->
                        </select>
                        <br/>
                        *Cod origen: 
                        <input type="text" style="width:100px;margin-bottom:5px;" name="codigo_origen" id="codigo_origen" required/>
                        <br/>
                        *Descripcion: 
                        <textarea name="descripcion" style="width:100px;margin-bottom:5px;" id="descripcion" required></textarea>
                        <br/>
                        *Proveedor: 
                        <select name="proveedor" style="width:100px;margin-bottom:5px;" id="proveedor"  required/>
                        <!-- START proveedor_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END proveedor_ -->
                        </select> 
                        <br/>
                        *Fecha ingreso:
                        <input type="text" style="width:100px;margin-bottom:5px;" readonly name="fecha_ingreso" value="{fecha}" id="fecha_ingreso" required/>
                        <br/>
                        *D&iacute;as garant&iacute;a: 
                        <input type="text" style="width:100px;margin-bottom:5px;" name="dias_garantia" value="30"  id="dias_garantia" onchange="checkNumber(event, 'dias_garantia');" required/>
                        <br/>
                    </div>
                    <div style="width:200px; float:left; text-align: right; ">
                        *Catalogo: 
                        <select name="catalogo" style="width:100px;margin-bottom:5px;" id="catalogo" required>
                            <!-- START catalogo -->
                            <option value="{id}">{nombre}</option>
                            <!-- END catalogo -->
                        </select>
                        <br/>
                        *N. Pagina:
                        <input type="text" style="width:100px;margin-bottom:5px;" onchange="checkNumber(event, 'n_pagina');" id="n_pagina" name="n_pagina" maxlength="9" required/>
                        <br/>
                        *Genero:  
                        <select name="genero" style="width:100px;margin-bottom:5px;" id="genero" required/>
                        <!-- START genero_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END genero_ -->
                        </select>
                        <br/>
                        *Marca:  
                        <select name="marca" style="width:100px;margin-bottom:5px;" id="marca" required/>
                        <!-- START marca_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END marca_ -->
                        </select>
                        <br/>
                        *Tacon:  
                        <select name="tacon" style="width:100px;margin-bottom:5px;" id="tacon" required/>
                        <!-- START tacon_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END tacon_ -->
                        </select>
                        <br/>
                        *Grupo:  
                        <select name="grupo" style="width:100px;margin-bottom:5px;" id="grupo" required/>
                        <!-- START grupo_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END grupo_ -->
                        </select>
                        <br/>
                        Suela:  
                        <select name="suela" style="width:100px;margin-bottom:5px;" id="suela" />
                        <!-- START suela_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END suela_ -->
                        </select>
                        <br/>
                        *Concepto:  
                        <select name="concepto" style="width:100px;margin-bottom:5px;" id="concepto" required/>
                        <!-- START concepto_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END concepto_ -->
                        </select>
                        <br/>
                        Material:  
                        <select name="material" style="width:100px;margin-bottom:5px;" id="material" />
                        <!-- START material_ -->
                        <option value="{id}">{nombre}</option>
                        <!-- END material_ -->
                        </select>
                        <br/>
                        *Propiedad:
                        <select name="propiedad" style="width:100px;margin-bottom:5px;" id="propiedad" required/>
                            <option value="1">Liquidacion</option>
                            <option value="2">Comprado</option>
                            <option value="3">Consignacion</option>
                        </select>
                        <br/>
                        <br/>
                    </div>
                    <div style="width:300px; float:left; text-align: right; ">
                        Colores:
                        <select id="coloresProducto" onclick="checkSelected();" multiple="multiple" style="width:200px;margin-bottom:10px;"></select> 
                        <br/>
                        <span id="selectedColors"></span>
                        <br/><br/>
                        <select id="color" name="color" style="width:100px;">
                            <!-- START color -->
                            <option id="opt_color_{id}" value="{id}">{nombre}</option>
                            <!-- END color -->
                        </select>
                        <button type="button" id="btnAddColor" onclick="appendColor(event);" >
                            Agregar 
                            <i class="icon-plus"></i>
                        </button>
                    </div>

                    <div style="width:300px; float:left; text-align: right;">
                        Observaci&oacute;n: 
                        <textarea style="margin-bottom:5px;" name="observacion" id="observacion"></textarea>
                        <br/>
                        Nota: 
                        <textarea style="margin-bottom:5px;" name="nota" id="nota"></textarea>
                        <br/>
                        <br/>
                        <input type="hidden" name="numero_documento" value="{documento}" />
                        <input type="hidden" name="visible" value="0" />

                        <input type="reset" value="Reset"/>
                        <button type="button" id="btnSaveProduct" class="big" onclick="saveNewProduct();">
                            <i class="icon-save"></i>Aceptar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div style="float:left;margin:15px;">
        <!-- RESUMEN DE PRODUCTOS -->
        <div id="resumen_prod" style="margin-top:50px;">
            <!-- ESTADO PRODUCTO SELECCIONADO -->
            <div style="font-size:18px;display:inline" id="res_t">
                <input type="hidden" id="estado_seleccion" value="0"/>
                <h2>
                    <span id="seleccionado" style="display:none;">
                        No ha sido seleccionado ning&uacute;n producto
                    </span>
                </h2>
            </div><!-- FIN ESTADO PRODUCTO SELECCIONADO -->
        </div>
    </div>
</div>

<!-- PANELES -->
<div id="thisDoc" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;">
    <h3>En este documento</h3>
    <button onclick="closePane('thisDoc')">Cerrar</button>
    <div id="bigbox" style="margin:15px;display:!none;width:500px;">
        <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

        </div>
    </div>
    <div class="tile quadro bg-cyan">
        <div class="tile-content">
            <p style="padding:15px;color:#fff;text-align: justify;">
                Muestra los productos ingresados en el documento. Para conocer más detalles del producto ingrese el estilo en el campo 
                <a href="javascript: void(0);" onclick="$('#fgs').focus();" style="color: white; font-weight: bold;">"Estilo"</a>
                Del formulario y presione la tecla de tabulación (tab).
                <br/>
            </p>
        </div>
        <div class="brand">
            <div class="badge alert"></div>
        </div>
    </div>
</div>
<div id="general" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;">
    <h3>Registrados</h3>
    <button onclick="closePane('general')">Cerrar</button>
    <div id="bigbox3" style="margin:15px;display:!none;width:500px;">
        <div id="gridbox3" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

        </div>
    </div>
    <div class="tile quadro bg-cyan">
        <div class="tile-content">
            <p style="padding:15px;color:#fff;text-align: justify;">
                Muestra los productos ingresados en el sistema. Para conocer más detalles del producto ingrese el estilo en el campo 
                <a href="javascript: void(0);" onclick="$('#fgs').focus();" style="color: white; font-weight: bold;">"Estilo"</a>
                Del formulario y presione la tecla de tabulación (tab).
                <br/>
            </p>
        </div>
        <div class="brand">
            <div class="badge alert"></div>
        </div>
    </div>
</div>
<div id="detail" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;">
    <h3>Detalle en inventario</h3>
    <button onclick="closePane('detail')">Cerrar</button>
    <div id="bigbox2" style="margin:15px;display:!none;width:500px;">
        <div id="gridbox2" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

        </div>
    </div>
    <div class="tile quadro bg-cyan">
        <div class="tile-content">
            <p style="padding:15px;color:#fff;text-align: justify;">
                Colores y tallas registrados en el sistema para el producto seleccionado. (El sistema evita la duplicidad)
            </p>
        </div>
        <div class="brand">
            <div class="badge alert"></div>
        </div>
    </div>
</div>

<div id="editCyT" class="sidePane" style="width:600px;height:100%;background:#fff;position:fixed;top:0px;right:-620px;z-index:100000;box-shadow:-1px -1px 4px 1px #000;padding-left:20px;">
    <button onclick="closePane('editCyT'); edicionColores();" style="margin:10px;">Cerrar</button>
    <div id="corrida" style="width:400px;text-align:left;background: #fff;padding-left:20px;" class="span5">
        <form id="corrida_formulario" action="/nymsa/inventario/salvar_color" method="post">
            <fieldset>
                <input type="hidden" value="" id="fproducto" name="color_estilo_producto" /> 
                <h3>Colores Disponibles</h3>
                <ul>
                    <li style="padding:5px;">
                        Seleccione un color y presione 
                        <button type="button" onclick="javascript:void(0);" >Agregar color <i class="icon-plus"></i></button> 
                        para añadir un color al producto
                    </li>
                    <li style="padding:5px;">
                        Seleccione un color de la lista de colores disponibles y presione 
                        <button type="button" onclick="javascript:void(0);" >Eliminar <i class="icon-remove"></i></button> 
                        para suprimir el color seleccionado para ese producto</li>
                    <li style="padding:5px;">
                        Seleccione un color de la lista de colores disponibles y presione 
                        <button type="button" onclick="javascript:void(0);" >Editar <i class="icon-pencil"></i></button> 
                        para editar las tallas del color seleccionado
                    </li>
                </ul>
                <br/><br/>
                <h4>Colores disponibles:</h4>
                <select id="pcolores" style="width:300px;"></select>  
                <br/><br/>
                <button type="button" onclick="eliminar_color(event);" >
                    Eliminar 
                    <i class="icon-remove"></i>
                </button>
                <button type="button" onclick="editar_tallas(event);" >
                    Editar 
                    <i class="icon-pencil"></i>
                </button>
                <br/>
            </fieldset>
        </form>
    </div><!-- FIN INFORMACION DE COLORES -->

    <!-- TALLAS -->
    <div id="nueva_corrida" style="display:none;margin-top:10px;">
        <form id="talla_prod" action="/nymsa/inventario/agregar_corrida_doc?doc={documento}" style="width:300px;" method="post">
            <fieldset style="padding:15px;border: solid 1px #D3D3D3;">
                <p>
                    <strong>Talla para color:</strong> <span id="corrida_color"></span>
                </p>
                <input type="hidden" id="estilo" name="estilo" />
                <input type="hidden" id="cfslinea" name="linea" />
                <input type="hidden" id="color_form" name="color" />
                Corrida: 
                <input type="text" id="inf_corrida" name="inf_corrida" disabled="disabled" style="width:50px;" required/>
                <input type="text" id="sup_corrida" name="sup_corrida" disabled="disabled" style="width:50px;" required/>
                - con medios
                <input type="checkbox" name="medios" disabled="disabled" />
                <br /><br />
                <input type="button" onclick="sendT();" value="Agregar" class="button" />
            </fieldset>
        </form>
    </div><!-- FIN TALLAS-->
    <!--
    <div id="foto" style="background:#fff;width:300px;display:none;margin-top:10px;">
        <form id="foto2" action="/nymsa/inventario/subir_foto" style="display:none;" method="post" enctype="multipart/form-data">
            <fieldset style="padding:15px;border: solid 1px #D3D3D3;margin-right:20px;">
                <p>
                    <strong>Foto para color:</strong> <span id="foto_color"></span>
                </p>
                <input type="hidden" name="estilo" id="foestilo" />
                <input type="hidden" name="documento" value="{documento}" /> 
                Foto: <input type="file" name="foto" disabled="disabled"/>
                <br/>
                <br/>
                <input type="submit" class="boton" value="Subir" disabled="disabled" />
            </fieldset>
        </form>
    </div>-->
    <div>
        <h5 id="gts" style="display:none;">Tallas disponibles</h5>
        <div id="gtp" style="display:none;margin-left:25px;margin-top:10px;overflow:auto;height:100px;" class="span2">
            <span id="tallas_tabla">
            </span>
        </div>
    </div>
</div>


<script>
    function registrar_estilo(event){
        var nuevo_estilo = $('#nuevo_estilo').val();
        var request_url = '/nymsa/inventario/comprobar_estilo';
        var http_request = $.post(request_url, {estilo:nuevo_estilo, doc:{documento}});
        http_request.done(function(data){
            $('#estatus').html(data.trim());
        });
        var grid = Sigma.$grid(grid_demo_id);
         grid.reload();
    }

    function editar_tallas(){
        edicionTallas();
        ver_tallas();
    }
</script>