<script>
    var grid_demo_id = "producto_grid";
    
    var dsOption = {
        fields :[
            {name : 'estilo'},
            {name : 'linea'}, 
            {name : 'codigo_origen'},
            {name : 'descripcion'},
            {name : 'proveedor'},
            {name : 'catalogo'},
            {name : 'n_pagina'},
            {name : 'genero'},
            {name : 'marca'},
            {name : 'propiedad'},
            {name : 'observacion'},
            {name : 'fecha_ingreso'},
            {name : 'nota'}
        ],
        uniqueField: 1,
        recordType : 'object'
    }

    var colsOption = [
        {id: 'estilo', header: "Estilo", width :60},
        {id: 'linea', header: "Linea", width  :50},
        {id: 'codigo_origen', header: "Codigo de origen", width :110},
        {id: 'descripcion', header: "Descripcion", width :250},
        {id: 'catalogo', header: "Catálogo", width :70},
        {id: 'n_pagina', header: "N. Pagina", width :70},
        {id: 'observacion', header: "Observacion", width :200},
        {id: 'fecha_ingreso', header: "Ingresa el", width :150}
    ];
    
    var gridOption = {
        id : grid_demo_id,
        loadURL : '/nymsa/inventario/cargar?tblname=producto',
        saveURL : '',
        width: "1200", //"100%", // 700,
        height: "260", //"100%", // 330,
        container : 'gridbox',
        replaceContainer : true,
        encoding : 'UTF-8', // Sigma.$encoding(), 
        dataset : dsOption,
        columns : colsOption,
        showGridMenu : true,
        allowHide : true,
        allowGroup  : true,
        clickStartEdit : true,
        defaultRecord : {'id':"00"},
        pageSize:10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent : 'filter | nav state'
    };
            
    var mygrid = new Sigma.Grid( gridOption );
    
    Sigma.Util.onLoad(function(){
        mygrid.render()
    });

</script>
<h3>Productos registrados en el sistema</h3>

<div id="bigbox" style="margin:15px;display:!none;">
    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

    </div>
</div>