<h2>Cuenta de usuario</h2>
<hr/>
<h3>Usuario: {username}</h3>
<div style="width:300px;">
    <div class="input-control text">
        <label>Contraseña:</label> 
        <input type="password" id="clave1"/>
    </div>
    <br/>
    <br/>
    <div class="input-control text">
        <label>Repita su contraseña:</label> 
        <input type="password" id="clave2" />
    </div>
    <br/>
    <br/>
    <br/>
    <button type="button" onclick="salvar_clave();">Aceptar</button>
</div>
<script>
    function salvar_clave() {

        var clave1 = $('#clave1').val().trim();
        var clave2 = $('#clave2').val().trim();

        if ((clave1 != clave2) || clave1.length < 6)
        {
            alert("Las claves deben coincidir y superar los 5 caracteres");
            $('#clave1').val("");
            $('#clave1').focus();
            $('#clave2').val("");
        } else {

            uri = "/nymsa/modulo/cambiar_clave_usuario";
            data = {
                "clave": clave1,
                "usuario": "{username}"
            };

            rques = $.post(uri, data, function(d) {
                alert("la clave se ha actualizado con exito");
                $('#clave1').val("");
                $('#clave1').focus();
                $('#clave2').val("");
            }, "json");

        }

    }
</script>