
<style type="text/css">
	.menu:hover {
		background: #f3f3f3;
		cursor: pointer;
	}
</style>

<div class="listview-outlook span4" style="overflow: auto;margin-right: 50px; padding-top: 50px; box-shadow: 2px 2px 4px #d3d3d3; position: fixed; left: 0px; top: 45px; height: 93%; background: #fff; margin-bottom: 150px;">
	<div style="text-align: center;">
		<button type="button" class="large" onclick="location.href='/nymsa/modulo/inboxRead?inboxId=0&Compose=true'">Redactar</button>
	</div>
	<p>
		<br/>
		<br/>
	</p>
	<nav style="padding: 10px;">
	    <ul class="side-menu">
	    	<li id="entIndi" class="menu" style="padding: 10px;"  onclick="bandejaEntrada();"> Recibidos </li>    
	    	<li id="salIndi" class="menu" style="padding: 10px;" onclick="bandejaSalida();"> Enviados </li>
	    	<li id="arcIndi" class="menu" style="padding: 10px;" onclick="archivados();"> Archivados </li>
	    </ul>
	</nav>
</div>

<div class="span10 pan"  id="bzEnt" style="margin-left: 300px;">
	<h3>Recibidos</h3>
	<hr/>
	<div id="bandeja2" class="listview-outlook" data-role="listview" style="height: 400px; overflow: auto;">
        
    </div>
    <a id="cargar" onclick="cargarMensajes2();" class="button"><div class="list-content"> <i class="icon-plus-2"></i> Más mensajes ...</div></a>
</div>

<div class="span10 pan"  id="bzSal" style="margin-left: 300px;">
	<h3>Enviados</h3>
	<hr/>
	<div id="bandeja3" class="listview-outlook" data-role="listview" style="height: 400px; overflow: auto;">
        
    </div>
    <a id="cargar2" onclick="cargarMensajes3();" class="button"><div class="list-content"> <i class="icon-plus-2"></i> Más mensajes ...</div></a>
</div>

<div class="span10 pan"  id="bzArc" style="margin-left: 300px;">
	<h3>Archivados</h3>
	<hr/>
	<div id="bandeja4" class="listview-outlook" data-role="listview" style="height: 400px; overflow: auto;">
        
    </div>
    <a id="cargar3" onclick="cargarMensajes4();" class="button"><div class="list-content"> <i class="icon-plus-2"></i> Más mensajes ...</div></a>
</div>

<div class="span10 pan"  id="inbx" style="margin-left: 300px;">
	<h2 style="text-align: center;">{titulo}</h2>
	<button type="button" style="float: right;">Recibidos</button>
	<hr/>
	<div>
		<nav class="horizontal-menu compact">
		    <ul>
		    	<li><a href="#">De {remitente}</a></li>
		    	<li><a href="#">Enviado el {fecha}</a></li>
			    <li><a href="javascript: void(0);" onclick="eliminarMensaje({id});"><i class="icon-remove"></i> Eliminar mensaje</a></li>
			    <li><a href="javascript: void(0);" onclick="archivarMensaje({id});"><i class="icon-folder-2"></i> Archivar mensaje</a></li>
		    </ul>
		</nav>

		<p style="margin: 30px; padding: 20px; background: #fafafa;">
			{mensaje}
		</p>

	</div>
</div>

<div class="span10 pan"  id="arbx" style="margin-left: 300px;">
	<h2 style="text-align: center;">{titulo}</h2>
	<button type="button" style="float: right;">Archivados</button>
	<hr/>
	<div>
		<nav class="horizontal-menu compact">
		    <ul>
		    	<li><a href="#">De {remitente}</a></li>
		    	<li><a href="#">Enviado el {fecha}</a></li>
			    <li><a href="javascript: void(0);" onclick="eliminarMensaje({id});"><i class="icon-remove"></i> Eliminar mensaje</a></li>
			    <li><a href="javascript: void(0);" onclick="desarchivarMensaje({id});"><i class="icon-folder-2"></i> Desarchivar mensaje</a></li>
		    </ul>
		</nav>

		<p style="margin: 30px; padding: 20px; background: #fafafa;">
			{mensaje}
		</p>

	</div>
</div>

<div class="span10 pan" id="oubx" style="margin-left: 300px;">
	<h2 style="text-align: center;">{titulo}</h2>
	<button type="button" style="float: right;">Enviados</button>
	<hr/>
	<div>
		<nav class="horizontal-menu compact">
		    <ul>
		    	<li><a href="#">Para {remitente}</a></li>
		    	<li><a href="#">Leído a las {leido_a_las}</a></li>
			    <li><a href="javascript: void(0);" onclick="eliminarMensaje({id});"><i class="icon-remove"></i> Eliminar mensaje</a></li>
		    </ul>
		</nav>
		<p style="margin: 30px; padding: 20px; background: #fafafa;">
			{mensaje}
		</p>
	</div>
</div>

<div class="span10 pan"  id="comp" style="margin-left: 300px;display: none;">
	<h3 class="bg-cyan fg-white" style="text-align: center;">Redactar mensaje nuevo</h3>
	<form method="post" action="/nymsa/modulo/enviarMensaje">
		<br/>
		Título del mensaje:
		<div class="input-control text">
			<input type="text" name="titulo" required/>
		</div>
		Para (destinatario):
		<div class="input-control text">
			<input type="text" name="destinatario" required/>
		</div>
		Mensaje:
		<div class="input-control ">
			<textarea style="width: 100%; height: 300px; resize: none;" name="mensaje" required>
				
			</textarea>
		</div>
		<p></p>
		<button type="submit" class="primary">Enviar</button>
	</form>
</div>
<div style="clear: both;"></div>
<script type="text/javascript">
	$(document).ready(function(){
		// inicializacion de lectura de correos
		window._cantidad = 10;
		window._leidos   = 0;

		window._cantidad2 = 10;
		window._leidos2   = 0;

		window._cantidad3 = 10;
		window._leidos3   = 0;

		cargarMensajes2();
		cargarMensajes3();
		cargarMensajes4();

		var urlHandler = new url_handler();
		urlHandler.initialize();

		if(urlHandler.isKey("Compose")){
			compose();
		}else{
			readMsg();
		}

	});

	function eliminarMensaje(idMensaje){
		 $.Dialog({
			overlay: true,
			shadow: true,
			flat: true,
			icon: '<i class="icon-help-2"></i>',
			title: 'Confirmación',
			content: '',
			width: 100,
			padding: 10,
			onShow: function(_dialog){
				var content = _dialog.children('.content');
				content.html('<p style="padding: 10px;">Para ahorrar espacio de almacenamiento los mensajes serán borrados permanentemente <br/><br/><br/></p><div style="text-align: right;padding: 5px;"><button class="success" onclick="eliminarmsg('+idMensaje+')">Entiendo, deseo borrar este mensaje</button></div>');
			}
		});
	}

	function eliminarmsg(id_mensaje){
		
		$.Dialog.close();

		location.href = "/nymsa/modulo/eliminar_mensaje?id_inbox="+id_mensaje;
	}

	function archivarMensaje(id_mensaje){
		
		var con = confirm("Desea archivar este mensaje? ");

		if(con){
			location.href = "/nymsa/modulo/archivar_mensaje?id_inbox="+id_mensaje;
		}
	}

	function desarchivarMensaje(id_mensaje){
		
		var con = confirm("Desea desarchivar este mensaje? ");

		if(con){
			location.href = "/nymsa/modulo/desarchivar_mensaje?id_inbox="+id_mensaje;
		}
	}

	function bandejaEntrada(){
		$('.pan').css('display', 'none');
		$('#bzEnt').css('display', 'block');
		$('#entIndi').css('font-weight', 'bold');
		$('#salIndi').css('font-weight', 'normal');
		$('#ArchiIndi').css('font-weight', 'normal');
	}

	function archivados(){
		$('.pan').css('display', 'none');
		$('#bzArc').css('display', 'block');
		$('#entIndi').css('font-weight', 'normal');
		$('#salIndi').css('font-weight', 'normal');
		$('#arcIndi').css('font-weight', 'bold');
	}

	function readMsg(){
		$('.pan').css('display', 'none');
		if("{tipo}"=="in"){
			$('#inbx').css('display', 'block');
		}else if("{tipo}"=="out"){
			$('#oubx').css('display', 'block');
		}else{
			$('#arbx').css('display', 'block');
		}
	}

	function bandejaSalida(){
		$('.pan').css('display', 'none');
		$('#bzSal').css('display', 'block');
		$('#entIndi').css('font-weight', 'normal');
		$('#salIndi').css('font-weight', 'bold');
		$('#ArchiIndi').css('font-weight', 'normal');
	}

	function compose(){
		$('.pan').css('display', 'none');
		$('#comp').css('display', 'block');

	}

	function cargarMensajes2(){
		var uri  = "/nymsa/modulo/leerBuzon";

		var data = { "leidos": window._leidos, "cantidad": window._cantidad };

		$.post(uri, data, function(mensajes){
			window._leidos += window._cantidad;
			agregarMensajes2(mensajes);
		}, "json");
	}

	function cargarMensajes3(){
		var uri  = "/nymsa/modulo/leerBuzonSalida";

		var data = { "leidos": window._leidos2, "cantidad": window._cantidad2 };

		$.post(uri, data, function(mensajes){
			window._leidos2 += window._cantidad2;
			agregarMensajes3(mensajes);
		}, "json");
	}

	function cargarMensajes4(){
		var uri  = "/nymsa/modulo/leerBuzonArchivados";

		var data = { "leidos": window._leidos3, "cantidad": window._cantidad3 };

		$.post(uri, data, function(mensajes){
			window._leidos3 += window._cantidad3;
			agregarMensajes4(mensajes);
		}, "json");
	}


	function agregarMensajes2(mensajes){       

        var pattern = '<a class="list" id="msg$id$" href="/nymsa/modulo/inboxRead?inboxId=$id$&type=in">\n'+
            				'<div class="list-content">\n'+
            					'<span class="list-title">$titulo$</span>\n'+
                				'<span class="list-subtitle">$fecha$</span>\n'+
                				'<span class="list-remark">De: $remitente$</span>\n'+
            				'</div>\n'+
        				'</a>\n';

        var patternNew = '<a class="list" id="msg$id$" href="/nymsa/modulo/inboxRead?inboxId=$id$&type=in">\n'+
            				'<div class="list-content">\n'+
            					'<span class="list-title"><strong>$titulo$ (Nuevo)</strong></span>\n'+
                				'<span class="list-subtitle">$fecha$</span>\n'+
                				'<span class="list-remark">De: $remitente$</span>\n'+
            				'</div>\n'+
        				'</a>\n';				

        for(var i = 0; i < mensajes.length; i++){
            if(mensajes[i].leido == 1){
                var a = pattern.replace("$id$", mensajes[i].id).replace("$id$", mensajes[i].id).replace("$remitente$", mensajes[i].remitente).replace("$fecha$", mensajes[i].fecha).replace("$titulo$", mensajes[i].titulo);
                $('#bandeja2').append(a);
            }else{
                var a = patternNew.replace("$id$", mensajes[i].id).replace("$id$", mensajes[i].id).replace("$remitente$", mensajes[i].remitente).replace("$fecha$", mensajes[i].fecha).replace("$titulo$", mensajes[i].titulo);
                $('#bandeja2').append(a);
            }
        }
    }

    function agregarMensajes3(mensajes){       

        var pattern = '<a class="list" id="msg$id$" href="/nymsa/modulo/inboxRead?inboxId=$id$&type=out">\n'+
            				'<div class="list-content">\n'+
            					'<span class="list-title">$titulo$</span>\n'+
                				'<span class="list-subtitle">$fecha$</span>\n'+
                				'<span class="list-remark">De: $remitente$</span>\n'+
            				'</div>\n'+
        				'</a>\n';

        for(var i = 0; i < mensajes.length; i++){
            var a = pattern.replace("$id$", mensajes[i].id).replace("$id$", mensajes[i].id).replace("$remitente$", mensajes[i].remitente).replace("$fecha$", mensajes[i].fecha).replace("$titulo$", mensajes[i].titulo);
            $('#bandeja3').append(a);
        }
        
    }

    function agregarMensajes4(mensajes){       

        var pattern = '<a class="list" id="msg$id$" href="/nymsa/modulo/inboxRead?inboxId=$id$&type=ar">\n'+
            				'<div class="list-content">\n'+
            					'<span class="list-title">$titulo$</span>\n'+
                				'<span class="list-subtitle">$fecha$</span>\n'+
                				'<span class="list-remark">De: $remitente$</span>\n'+
            				'</div>\n'+
        				'</a>\n';

        for(var i = 0; i < mensajes.length; i++){
            var a = pattern.replace("$id$", mensajes[i].id).replace("$id$", mensajes[i].id).replace("$remitente$", mensajes[i].remitente).replace("$fecha$", mensajes[i].fecha).replace("$titulo$", mensajes[i].titulo);
            $('#bandeja4').append(a);
        }
        
    }

</script>