<section class="info_div">
    <img src="../static/img/info.png" style="float:left;" alt="info" />
    <h2>Zonas restringidas</h2>
    <p>
        Si est&aacute;s viendo un formulario el cual te solicita un nombre de usuario
        y una clave de acceso, se debe a que la zona no tiene acceso p&uacute;blico. Es 
        necesario que poseas un registro dentro del sistema para poder acceder a dicha secci&oacute;n.
        Si usted cree que es un error, contacte con el administrador del sistema.
    </p>
    <p>
        <a href="/nymsa/login/form">volver al inicio de sesi&oacute;n</a>
    </p>
</section>