<h1>{nombre_empresa}</h1>
<h3>{direccion}</h3>
<hr/>


<p style="text-align: right; margin: 10px;">
    {opciones_configuracion}
</p>

<div class="panel span6 ">
    <div class="panel-header ">
        Información del sistema
    </div>
    <div class="panel-content">
        <p>
            <table>
                <tr>
                    <td style="text-align:right;"><strong>Hoy:</strong></td> <td>&nbsp;&nbsp; {fecha_sistema}</td>
                </tr>
                <tr>
                    <td style="text-align:right;"><strong>Empresa:</strong></td><td>&nbsp;&nbsp; {nombre_empresa}</td>
                </tr>
                <tr>
                    <td style="text-align:right;"><strong>Dirección:</strong></td><td>&nbsp;&nbsp; {direccion}</td>
                </tr>
                <tr>
                    <td style="text-align:right;"><strong>Período actual:</strong></td><td>&nbsp;&nbsp; {periodo_actual}</td>
                </tr>
                <tr>
                    <td style="text-align:right;"><strong>Período fiscal:</strong></td><td>&nbsp;&nbsp; {periodo_fiscal}</td>
                </tr>
                <tr>
                    <td style="text-align:right;"><strong>Teléfono:</strong></td><td>&nbsp;&nbsp; {telefono}</td>
                </tr>
                <tr>
                    <td style="text-align:right;"><strong>Fax:</strong></td><td>&nbsp;&nbsp; {fax}</td>
                </tr>
            </table>
        </p>
    </div>
</div>
<!-- <img src="../static/img/background.jpg" alt="bg" style="position: absolute; left: 390px; top: 180px; z-index: -1; " />-->
<!--<div class="tile-group six">

    <div class="tile double double-vertical bg-cyan" id="inventario">
        <div class="tile-content icon">
            <img src="../static/img/inventario.png" alt="inventario" />
        </div>
        <div class="tile-status">
            <span class="name">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inventario
            </span>
        </div>
    </div>

    <div class="tile double double-vertical bg-red " id="cliente">
        <div class="tile-content icon">
            <img src="../static/img/usuario.png" alt="clientes" />
        </div>
        <div class="tile-status">
            <span class="name">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clientes
            </span>
        </div>
    </div>

    <div class="tile double double-vertical bg-green" id="factura">
        <div class="tile-content icon">
            <i class="icon-calculate"></i>
        </div>
        <div class="tile-status">
            <span class="name">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Facturacion
            </span>
        </div>
    </div>

    <div class="tile double double-vertical bg-orange" id="opcion" onclick="location.href = '/nymsa/modulo/opcionesDeSistema'">
        <div class="tile-content icon">
            <i class="icon-cog"></i>
        </div>
        <div class="tile-status">
            <span class="name">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Opciones
            </span>
        </div>
    </div>

    <div class="tile double double-vertical bg-pink" id="credito">
        <div class="tile-content icon">
            <i class="icon-coins"></i>
        </div>
        <div class="tile-status">
            <span class="name">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Creditos
            </span>
        </div>
    </div>

</div>

<script>
    $(function() {
        var ModuleList = new Array('inventario', 'factura', 'cliente', 'credito');
        for (var i = 0; i < ModuleList.length; i++) {
            var uri = '/nymsa/cliente/CheckIfModuleEnabledStr/' + ModuleList[i];
            var ajaxRq = $.post(uri, function(data) {
                if (data.Result == false) {
                    $('#' + data.Module).bind('click', function() {
                        alert('No tiene permisos suficientes');
                    });
                    $('#' + data.Module).removeClass('bg-blue');
                    $('#' + data.Module).removeClass('bg-green');
                    $('#' + data.Module).removeClass('bg-red');
                    $('#' + data.Module).addClass('bg-black');
                } else {
                    $('#' + data.Module).bind('click', function() {
                        location.href = '/nymsa/modulo/crearSesion/' + data.Module;
                    });
                }
            }, "json");
        }
    });
</script>
-->