<section style="display:table;width:100%;">
    <h2>Parámetros del sistema</h2>
    <div style="float:left;width:300px;margin:10px;">
        <table>
            <form method="post" action="/nymsa/modulo/system_save">
                <!-- START system_settings -->
                <input type="hidden" value="1" name="id"/>
                <h3>Datos de la empresa</h3>
                <tr>
                    <td>
                        Razon social:
                    </td>
                    <td>
                        <div class="input-control text">
                            <input type="text" name="razon_social" value="{razon_social}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Nombre Comercial:
                    </td>
                    <td>
                        <div class="input-control text">
                            <input type="text" name="nombre_comercial" value="{nombre_comercial}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Identificacion tributaria:
                    </td>
                    <td>
                        <div class="input-control text">
                            <input type="text" name="id_tributario" value="{id_tributario}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Direccion:
                    </td>
                    <td>
                        <div class="input-control text">
                            <input type="text" name="direccion" value="{direccion}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Telefono:
                    </td>
                    <td>
                        <div class="input-control text">
                            <input type="text" name="telefono" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" value="{telefono}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Fax:
                    </td>
                    <td>
                        <div class="input-control text">
                            <input type="text" name="fax" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" value="{fax}" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        Correo electronico:
                    </td>
                    <td>
                        <div class="input-control text">
                            <input type="text" name="correo_electronico" value="{correo_electronico}" />
                        </div>
                    </td>
                </tr>
        </table>
    </div>
    <div style="float:left;width:300px;margin:10px;">
        <table>
            <h3>Variables del sistema</h3>
            <tr>
                <td>
                    Periodo fiscal:
                </td>
                <td>
                    <div class="input-control text">
                        <input type="text" name="periodo_fiscal" value="{periodo_fiscal}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Periodo actual:
                </td>
                <td>
                    <div class="input-control text">
                        <input type="text" name="periodo_actual" value="{periodo_actual}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Fecha del dia:
                </td>
                <td>
                    <div class="input-control text">
                        <input type="text" value="{fecha}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Sucursal predeterminada:
                </td>
                <td>
                    <div class="input-control text">
                        <input type="text" name="sucursal_predeterminada" value="{sucursal_predeterminada}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Clave de seguridad
                </td>
                <td>
                    <div class="input-control text">
                        <input type="password" name="clave1" id="clave1" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Repita lu clave
                </td>
                <td>
                    <div class="input-control text">
                        <input type="password" name="clave2" id="clave2" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <button type="button" onclick="salvar_clave();">Actualizar clave</button>
                </td>
            </tr>

        </table>
    </div>
    <div style="float:left;width:300px;margin:10px;">
        <table>
            <p>
                <br/><br/>
            </p>
            <tr>
                <td>
                    Iva:
                </td>
                <td>
                    <div class="input-control text">
                        <input type="text" name="iva" value="{iva}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Tolerancia:
                </td>
                <td>
                    <div class="input-control select">
                        <select id="tolerancia" name="tolerancia">
                            <option value="1">ACTIVA</option>
                            <option value="0">INACTIVA</option>
                        </select>
                        <script type="text/javascript">
                            $(function(){
                                $('#tolerancia option[value={tolerancia}]').attr("selected", "selected");
                            })();
                        </script>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    Alerta stock bajo:
                </td>
                <td>
                    <div class="input-control select">
                        <select id="stock_bajo" name="stock_bajo">
                            <option value="1">ACTIVA</option>
                            <option value="0">INACTIVA</option>
                        </select>
                        <script type="text/javascript">
                            $(function(){
                                $('#stock_bajo option[value={stock_bajo}]').attr("selected", "selected");
                            })();
                        </script>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <br/><br/>
                </td>
                <td>
                    <br/><br/>
                </td>
            </tr>
            <tr>
                <td>
                    Políticas de actualización:
                </td>
                <td>
                    <a href="/nymsa/modulo/politicas_de_actualizacion">Definir politicas</a>
                </td>
            </tr>
            <!-- END system_settings -->
        </table>
    </div>
    <p style="clear: both;">

    </p>
    <button class="primary large"><i class="icon-save"></i> Guardar</button>
</form>
</section>
<script>
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            
            d.value = val
            d.valant = val
        }
    }

    function salvar_clave() {

        var clave1 = $('#clave1').val().trim();
        var clave2 = $('#clave2').val().trim();

        if ((clave1 != clave2) || clave1.length < 6)
        {
            alert("Las claves deben coincidir y superar los 5 caracteres");
            $('#clave1').val("");
            $('#clave1').focus();
            $('#clave2').val("");
        } else {

            uri = "/nymsa/modulo/cambiar_clave";
            data = {
                "clave": clave1
            };

            rques = $.post(uri, data, function(d) {
                alert("la clave se ha actualizado con exito");
                $('#clave1').val("");
                $('#clave1').focus();
                $('#clave2').val("");
            }, "json");

        }

    }
</script>