<h3>Politicas de actualización</h3>
<hr/>
<p style="padding:50px;text-align:justify;">
    <strong>Políticas de actualización:</strong> Son las reglas que el administrador del sistema determina para mantener
    la información de los clientes actualizada. Las políticas de actualización no tienen fecha de inicio ni fecha de fin, se consideran
    permanentes en el tiempo. A continuación podrá visualizar una lista con los datos que el cliente normalmente proporciona
    (campos que debe llenar) y al lado un cuadro de selección. Si el cuadro de selección está activado indica que se le pedirá al usuario que
    actualice ese campo. <strong>Cada vez</strong> que se presione el botón <strong>"Actualizar política"</strong> se lanzará una nueva
    solititud a todos los clientes. (Ser cuidadoso y no disponer de esta funcionalidad muy frecuentemente)
</p>
<div style="text-align:right;width:400px;">
    Dui <input type="checkbox" id="dui" name="dui" class="btnPact"/>
    <br/>
    Primer nombre <input type="checkbox" id="primer_nombre" name="primer_nombre" class="btnPact"/>
    <br/>
    Segundo nombre <input type="checkbox" id="segundo_nombre" name="segundo_nombre" class="btnPact"/>
    <br/>
    Primer apellido <input type="checkbox" id="primer_apellido" name="primer_apellido" class="btnPact"/>
    <br/>
    Segundo apellido <input type="checkbox" id="segundo_apellido" name="segundo_apellido" class="btnPact"/>
    <br/>
    Direccion <input type="checkbox" id="direccion" name="direccion" class="btnPact"/>
    <br/>
    Telefono <input type="checkbox" id="telefono_casa" name="telefono_casa" class="btnPact"/>
    <br/>
    Email <input type="checkbox" id="correo_electronico" name="correo_electronico" class="btnPact"/>
    <br/>
    nit<input type="checkbox" id="nit" name="nit" class="btnPact"/>
    <br/>
</div>

<br/>
<br/>
<button id="btnAct">Actualizar política</button>
<script>
    $(document).ready(function() {
        $('#btnAct').bind('click', marcarCampo);
        var uri = '/nymsa/modulo/cargar_campos';
        var post_rq = $.post(uri, {}, function(d) {
            for (var i = 0; i < d.length; i++) {
                if (d[i].actualizar == 1)
                    $('#' + d[i].nombre_campo).attr("checked", "checked");
                else
                    $('#' + d[i].nombre_campo).removeAttr("checked");
            }
        }, "json");
    });

    function marcarCampo() {
        if (confirm("esta seguro?")) {
            var info = [];
            var uri = "/nymsa/modulo/actualizar_campo";

            $('.btnPact').each(function() {
                var _campo = $(this).attr('id');
                var _valor = false;
                if ($(this).attr("checked")) {
                    _valor = true;
                }

                var data = {
                    campo: _campo,
                    valor: _valor
                };

                info.push(data);

            });

            var post_rq = $.post(uri, {campos: JSON.stringify(info)}, function(d) {
            }, "json");
        }
    }
</script>