<script type="text/javascript" >

    var grid_demo_id = "myGrid1";


    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'nombre'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'id', header: "ID", width: 80},
        {id: 'nombre', header: "Nombre", width: 250, editor: {type: 'text'}}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/nymsa/prueba/loaddata',
        saveURL: '/nymsa/prueba/update',
        exportURL: '/nymsa/prueba/pruebaList?export=true',
        exportFileName: 'prueba_doc',
        width: "100%", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | add del save | print xls csv xml pdf filter | pageSize nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render()
    });
</script>

<div id="page-container">
    <div id="content">
        <div id="bigbox" style="margin:15px;display:!none;">
            <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

            </div>
        </div>
    </div>
</div>