<form method="post" action="/nymsa/factura/insertar">
    <input type="text" name="bodega" value="1"/>
    <input type="text" name="estilo" value="339"/>
    <input type="text" name="color" value="1"/>
    <input type="text" name="linea" value="1"/>
    <input type="text" name="talla" value="30.00"/>
    <input type="text" name="cantidad" value="1"/>
    <input type="text" name="descripcion" value="desc"/>
    <input type="text" name="cliente" value="1000"/>
    <input type="text" name="factura" value="34"/>
    <input type="text" name="precio" value="12.12"/>
    <input type="text" name="porcentaje" value=""/>
    <button type="submit">Enviar</button>
</form>