<style>
    #info-bar input,#info-bar select{
        margin: 0px;
    }

    #info-titles{
        padding-left: 10px;
        padding-right: 10px;
    }

    #info-bar{
        margin-top: 10px;
        margin-right: 20px;
        border: solid 1px #D3D3D3;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 15px;
    }

    #info-titles p{
        width: 70px;
        margin-left: 2px;
        margin-right: 2px;
        float: left;
        text-align: center;
        font-size: 12px;
    }
</style>

<script>
    $(document).ready(function(){
    $('#n_pedido').focus();
            window.codPedido = 0;
            window.editable = false;
            window.lbl = 0;
            window.nt = false;
            window.cerrar = false;
            handler = new url_handler();
            handler.initialize();
            if (handler.isKey('imp') && handler.isKey('cliente')){
    $('#codigo_cliente').val(handler.getValue('cliente'));
            $('#codigo_cliente').blur();
            var miSetOut = setTimeout(crear_sffs, 4500);
    } else if (handler.isKey('nt_r') && handler.isKey('cod')){
    window.cerrar = true;
            var c_pedido = handler.getValue('cod');
            $('#n_pedido').val(c_pedido);
            $('#n_pedido').change();
            $('#codigo_cliente').blur();
            window.codPedido = c_pedido;
            window.nt = true;
            $('#fnota').css('display', 'none');
            if (handler.getValue('tipo') == 'credito'){
    facturar_credito();
    }
    else{
    facturar_contado();
    }
    }
    });
            function crear_sffs(){
            //alert(window.codPedido);
            uri = "/nymsa/factura/cargar_impresion";
                    res = $.post(uri, {"pedido":window.codPedido}, function(d){
                    //cargar_totales();
                    facturar_contado();
                    }, "json");
            }

    function del_render(value, record, columnObj, grid, colNo, rowNo){
		return '<a href="javascript:void(0);" onclick="delete_item(' + record['id'] + ')">Eliminar</a>';
    }

    function delete_item(id)
    {
		if (window.editable){
			uri = "/nymsa/factura/eliminar_detalle/" + id;
			data = {  };
			xq = $.post(uri, data, function(data){
				var grid = Sigma.$grid("factura_grid");
				grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
				grid.reload();
				cargar_totales();
			}, "json");
		} else{
		
			alert("Este pedido ya fue procesado, no se puede editar");
		}
    }

    function imprimirFactura()
    {
    n_pedido = window.codPedido
            if (parseInt(n_pedido) <= 0 || n_pedido == "")
    {
    alert("Nada que imprimir");
    }
    else
    {
    if (!window.editable){
    $.Dialog({
    overlay: true,
            shadow: true,
            flat: true,
            title: 'Re-impresión de factura',
            content: '',
            width:500,
            onShow: function(_dialog){
            var content = _dialog.children('.content');
                    html = [

                            '<div style="padding:30px;">',
                            '<br/>',
                            '<h4>Autorizacion de re-impresión</h4>',
                            '<input type="password" id="pass" /><button type="button" onclick="auth_imp();">Autorizar</button>',
                            '<br/>',
                            '<br/>',
                            '<button type="button" onclick="facturar_impresion();">Factura por re-impresión</button>',
                            '</div>'

                    ].join("");
                    content.html(html);
            }
    });
    } else{
    alert("No se ha procesado aun");
    }
    }
    }

    function auth_imp()
    {
    pass = $('#pass').val();
            uri = "/nymsa/modulo/autorizacion";
            data = {"clave":pass};
            res = $.post(uri, data, function(d){
            if (d.auth){
            imp();
            } else{
            alert("No tiene autorizacion");
            }
            }, "json");
            $.Dialog.close();
    }

    function imp()
    {
    var NoFactura = window.codPedido;
            var Subtotal = parseFloat($('#SUBTOTAL').val().trim());
            var Descuento = parseFloat($('#DESCUENTO').val());
            var Total = parseFloat($('#TOTAL').val().trim());
            var Flete = 'N';
            if ($('#FLETE').attr('checked')){
    Flete = 'S';
    }
    var vestilos = window.open('/nymsa/factura/imprimir/' + NoFactura + '/' + Subtotal + '/' + Descuento + '/' + Total + '/' + Flete, '_blank');
    }

    function facturar_impresion(){
    if (confirm("Esta seguro de querer facturar una re-impresion?")){
    cliente = $('#codigo_cliente').val().trim();
            var vurl = window.open('/nymsa/factura/nuevo?imp=ok&cliente=' + cliente, '_blank');
    }

    $.Dialog.close();
    }

    function reservar()
    {
    n_pedido = window.codPedido
            if (parseInt(n_pedido) <= 0 || n_pedido == "")
    {
    alert("No se puede procesar");
    }
    else
    {
    if (window.editable){
    /* proceso de facturacion al contado */

    factura = window.codPedido; // numero de factura a procesar

            uri = "/nymsa/factura/reservar"; // url de proceso de facturacion contado

            resource = [ uri, factura ].join("/");
            request = $.post(resource, { }, function(data){
            window.editable = false;
                    window.codPedido = 0;
                    obtenerDatosCliente(0);
                    var grid = Sigma.$grid("factura_grid");
                    grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
                    grid.reload();
                    $('#n_pedido').val("0");
                    $('#codigo_cliente').val("0");
                    $('#codigo_cliente').removeAttr("disabled");
                    $('#fecha').removeAttr("disabled");
                    $('#n_pedido').focus();
                    desHabilitar();
                    $.Dialog.close();
                    $('#DESCUENTO').val("");
                    $('#TOTAL').val("");
                    $('#SUBTOTAL').val("");
            }, "json");
    } else{
    alert("Este pedido ya fue procesado");
    }
    }
    }

	/* creacion o carga de pedidos */
    function nuevoPedido()
    {
		n_pedido   = parseInt($('#n_pedido').val().trim()); // obtiene el numero del pedido que ha sido ingresado
		id_cliente = parseInt($('#codigo_cliente').val());  // obtiene le numero del cliente a quien va dirigido el pedido
        
		fecha = $('#fecha').val(); // fecha en la que se crea el pedido
        
		uri = '/nymsa/factura/nueva_factura'; // server url
        
		// paquete de datos para proceso de pedidos
		data = {
            "pedido": n_pedido,
            "cliente": id_cliente,
            "fecha": fecha,
            "caja": {n_caja},
            "periodo_actual": "{periodo_actual}"
        };
		
		// peticion asincrona el servidor
        vProc = $.post(uri, data, function(d){
			// no se ha encontrado el pedido
			if (d.NOTFOUND)
			{
				window.codPedido = 0;
				obtenerDatosCliente(0);
				alert("No existe el pedido");
				var grid = Sigma.$grid("factura_grid");
				grid.loadURL = '/nymsa/factura/cargar_detalle/' + 0;
				grid.reload();
				$('#n_pedido').val("0");
				$('#codigo_cliente').val("0");
				$('#codigo_cliente').removeAttr("disabled");
				$('#fecha').removeAttr("disabled");
				$('#n_pedido').focus();
				desHabilitar();
			}
			else
			{
				$('#n_pedido').val(d.ref);
				window.codPedido = parseInt(d.No);
				window.lbl = parseInt(d.ref);
				$('#codigo_cliente').val(d.cliente);
				cargar_cliente();
				$('#fecha').val(d.fecha);
				$('#festado option').remove();
				if(d.estado==1){
					$('#festado').append("<option>FACTURADO</option>");
				}else{
					$('#festado').append("<option>PENDIENTE</option>");
				}
				$('#ftipo option').remove();
				if(d.tipo == 1)
					$('#ftipo').append("<option>CONTADO</option>");
				if(d.tipo == 2)
					$('#ftipo').append("<option>CREDITO</option>");
				if(d.tipo == 0)
					$('#ftipo').append("<option>PEDIDO</option>");		
				$('#codigo_cliente').attr("disable", "disabled");
				$('#fecha').attr("disable", "disabled");
				$('#NoFactura').html(parseInt(d.ref) + 1);
				obtenerDatosCliente(parseInt(d.cliente));
				var grid = Sigma.$grid("factura_grid");
				grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
				grid.reload();
				cargar_totales();
				if (d.estado == 1)
				{
					desHabilitar();
					if (d.flete == 1) $('#FLETE').attr('checked', 'checked');
					else $('#FLETE').removeAttr('checked');
					window.editable = false;
				}
				else 
				{
					habilitar();
					window.editable = true;
				}

				if (window.nt) {
					desHabilitar();
					$('#buy').removeAttr("disabled");
				}
			}
		}, "json");
	}

    function verLineas(){
    var vlineas = window.open('/nymsa/factura/verLineas', this.target, 'width=300,height=400');
            vlineas.onload = function(){
            for (var i = 0; i < window.CLINEA.length; i++){
            vlineas.document.getElementById('tabla').innerHTML += ' - <a href="javascript:void(0);" onclick="window.opener.document.getElementById(\'bLinea\').value=\'' + window.CLINEA[i] + '\';window.opener.document.getElementById(\'bLinea\').onchange();window.close();" >' + window.CLINEA[i] + '</a>';
            }
            };
    }

    function verEstilos(){
    var vestilos = window.open('/nymsa/factura/verLineas', this.target, 'width=300,height=400');
            vestilos.onload = function(){
            for (var i = 0; i < window.CESTILO.length; i++){
            vestilos.document.getElementById('tabla').innerHTML += ' - <a href="javascript:void(0);" onclick="window.opener.document.getElementById(\'bEstilo\').value=\'' + window.CESTILO[i] + '\';window.opener.document.getElementById(\'bEstilo\').onchange();window.close();" >' + window.CESTILO[i] + '</a>';
            }
            };
    }

    function verColores(){
    var vcolores = window.open('/nymsa/factura/verLineas', this.target, 'width=300,height=400');
            vcolores.onload = function(){
            for (var i = 0; i < window.CCOLOR.length; i++){
            vcolores.document.getElementById('tabla').innerHTML += ' - <a href="javascript:void(0);" onclick="window.opener.document.getElementById(\'bColor\').value=\'' + window.CCOLOR[i] + '\';window.opener.document.getElementById(\'bColor\').onchange();window.close();" >' + window.CCOLOR[i] + '</a>';
            }
            };
    }

    function verTallas(){
    var vtallas = window.open('/nymsa/factura/verLineas', this.target, 'width=300,height=400');
            vtallas.onload = function(){
            for (var i = 0; i < window.CTALLA.length; i++){
            vtallas.document.getElementById('tabla').innerHTML += ' - <a href="javascript:void(0);" onclick="window.opener.document.getElementById(\'bTalla\').value=\'' + window.CTALLA[i] + '\';window.opener.document.getElementById(\'bTalla\').onchange();window.close();" >' + window.CTALLA[i] + '</a>';
            }
            };
    }

    function obtenerDatos(){
		var uri = "/nymsa/cliente/datosCliente"; 	// cargar datos del cliente
        var idCliente = $('#codigo_cliente').val(); // obtiene el codigo del cliente
		/* consultar datos del cliente (si existe) */
        var ajaxRequest = $.post(uri, {cliente:idCliente}, function(data){
            if (data.STATUS == "OK"){
				/* si el cliente existe */
				nuevoPedido(); // crea un nuevo pedido
				// rellena el cuadro de informacion basica
                $('#nombre_cliente').val(data.primer_nombre + " " + data.segundo_nombre + " " + data.primer_apellido + " " + data.segundo_apellido);
                $('#direccion_cliente').val(data.direccions);
                $('#telefono_cliente').val(data.telefono);
                $('#bPorcentaje').val(data.descuento);
            } else{
				/* si el cliente no existe limpia los datos */
				$('#codigo_cliente').val("0");
                $('#codigo_cliente').val("0");
                $('#nombre_cliente').val("");
                $('#direccion_cliente').val("");
                $('#telefono_cliente').val("");
                $('#bPorcentaje').val("");
				// alerta el usuario
                if (parseInt($('#n_pedido').val()) == 0 || $('#n_pedido').val().trim() == ""){
					alert("Cliente no existe");
                    $('#tipo_factura').focus();
				}
            }
        }, "json");
		
        if ((parseInt($('#codigo_cliente').val()) == 0 || $('#codigo_cliente').val().trim() == "") && (parseInt($('#n_pedido').val()) != 0 && $('#n_pedido').val() != ""))
		{
			// crea un nuevo pedido
			nuevoPedido();
		}
    }

    function obtenerDatosCliente(cliente_id){
    var uri = "/nymsa/cliente/datosCliente";
            var idCliente = cliente_id;
            var ajaxRequest = $.post(uri, {cliente:idCliente}, function(data){
            if (data.STATUS == "OK"){
            $('#nombre_cliente').val(data.primer_nombre + " " + data.segundo_nombre + " " + data.primer_apellido + " " + data.segundo_apellido);
                    $('#direccion').val(data.direccion);
                    $('#telefono_cliente').val(data.telefono);
                    $('#dias_credito').val(data.dias_credito);
                    $('#bPorcentaje').val(data.descuento);
            } else{
            $('#codigo_cliente').val("0");
                    $('#nombre_cliente').val("");
                    $('#direccion').val("");
                    $('#dias_credito').val("");
                    $('#telefono_cliente').val("");
                    $('#bPorcentaje').val("");
            }
            }, "json");
    }

    function setCero()
    {
    if (parseInt($('#n_pedido').val()) == 0)
    {
    $('#codigo_cliente').removeAttr("disabled");
            $('#fecha').removeAttr("disabled");
    }
    }

	/* agrega un item a la factura */
    function agregarCompra(event){
		event.preventDefault();
		
		var BODEGA = $('#bBodega').val().trim(); // bodega seleccionada
		var ESTILO = $('#bEstilo').val().trim(); // estilo seleccionado
		var COLOR  = $('#bColor').val().trim();  // color seleccionado
		var LINEA  = $('#bLinea').val().trim();  // linea seleccionada
		var TALLA  = $('#bTalla').val().trim();	// talla selecionada
		
		var CANTIDAD = parseInt($('#bCantidad').val().trim()); // cantidad que desea comprase
		var PRECIO   = parseFloat($('#bPrecio').val().trim()); // precio del producto
		
		var PORCENTAJE = parseFloat($('#bPorcentaje').val().trim());
		
		var DESCRIPCION = LINEA + "-" + ESTILO + "-" + COLOR + "-" + TALLA; // descripcion de la compra
		
		var CLIENTE = $('#codigo_cliente').val().trim(); // cliente que realiza el pedido		
		
		$('#codigo_cliente').attr("disabled", "disabled"); 
		
		var uri = '/nymsa/factura/insertar'; // uri para agregar el item al pedido
		
		/* calculo del sobtotal y el descuento */
		var SUBTOTAL = 0;
		var DESC     = 0;
		if ($('#SUBTOTAL').val().trim() != "") SUBTOTAL = parseFloat($('#SUBTOTAL').val().trim());
		if ($('#DESCUENTO').val().trim() != "") DESC    = parseFloat($('#DESCUENTO').val().trim());
		
		$('#bBodega').val("");
		$('#bLinea').val("");
		$('#bEstilo').val("");
		$('#bColor').val("");
		$('#bTalla').val("");
		$('#bPrecio').val("");
		$('#bCantidad').val("");
		$('#bDescuento').val("");
		$('#bImporte').val("");
		
		/* datos a enviar al servidor */
		var data = {
			bodega:BODEGA,
			estilo:ESTILO,
			color:COLOR,
			linea:LINEA,
			talla:TALLA,
			cantidad:CANTIDAD,
			descripcion:DESCRIPCION,
			cliente:CLIENTE,
			factura:window.codPedido,
			precio:PRECIO,
			porcentaje:PORCENTAJE
		};
		
		
		// petcion asincrona
		var ajaxRequest = $.post(uri, data, function(response){
			if (response.STATUS == "OK"){
				/* la peticion se ha completado satisfactoriamente */
				var grid = Sigma.$grid("factura_grid");
				cargar_totales(); // atualizacion de totales de la factura
				grid.reload();	// actualiza el grid de detalle
			} else if (response.STATUS == "OUT_OF_STOCK"){
					// no hay suficiente stock del producto
					// no se agrega a la factura
				alert("PRODUCTO AGOTADO");
			} else{
				alert("HA OCURRIDO UN ERROR");
			}
		}, "json");
				
		$('#bBodega').removeAttr("disabled");
		$('#bBodega').focus();
    }


    function seleccionarTalla(){
    if ($('#bTalla').val().trim() == ""){
    $('#bCantidad').attr("disabled", "disabled");
    } else{
    var uri = '/nymsa/inventario/facTalla';
            var BODEGA = $('#bBodega').val().trim();
            var LINEA = $('#bLinea').val().trim();
            var ESTILO = $('#bEstilo').val().trim();
            var COLOR = $('#bColor').val().trim();
            var TALLA = $('#bTalla').val().trim();
            var ajaxRequest = $.post(uri, {bodega:BODEGA, linea:LINEA, estilo:ESTILO, color:COLOR, talla:TALLA}, function(data){
            if (data.STATUS == "OK"){
            $('#bCantidad').removeAttr("disabled");
                    $('#bCantidad').focus();
                    $('#bPrecio').val(data.PRECIO.precio);
                    $('#bTalla').css('border-color', '#D3D3D3');
            } else{
            $('#bCantidad').attr("disabled", "disabled");
            }
            }, "json");
            // BUSQUEDA DE OFERTAS
            /* o_uri = "/nymsa/factura/consultar_oferta";
             ra = $.post(o_uri,{linea:LINEA,estilo:ESTILO,color:COLOR,talla:TALLA},function(d){
             if(d != null){
             if(d.length > 1){
             for(i = 0, j = d.length; i < j; i++)
             {
             //alert(d[i].descripcion);
             }
             }else{
             $('#bPorcentaje').val( ($('#bPorcentaje').val() * 1) + ( 100 * d[0].descuento) )
             }
             }
             }, "json");*/
    }
    }

    function cargar_totales()
    {
    uri = "/nymsa/factura/totales/" + window.codPedido;
            data = { };
            fq = $.post(uri, data, function(d){
            $('#TOTAL').val(d.total);
                    $('#SUBTOTAL').val(d.subtotal);
                    $('#DESCUENTO').val(d.descuento);
            }, "json");
    }



    function seleccionarCantidad(){
    var cantidad = $('#bCantidad').val().trim();
            var porcentaje = $('#bPorcentaje').val().trim();
            var precio = $('#bPrecio').val().trim();
            var importe = precio * cantidad;
            var descuento = importe * (porcentaje / 100);
            $('#bImporte').val(importe);
            $('#bDescuento').val(descuento * - 1);
    }

    var grid_demo_id = "factura_grid";
            var dsOption = {

            fields :[
            {name : 'descripcion'  },
            {name : 'precio'  },
            {name : 'cantidad'  },
            {name : 'porcentaje'  },
            {name : 'descuento'  },
            {name : 'importe'  },
            {name : 'id_factura'  },
            {name : 'id'  }
            ],
                    recordType : 'object'
            }

    var colsOption = [
    {id: 'descripcion', header: "Descripcion", width :250 },
    {id: 'precio', header: "Precio", width :80 },
    {id: 'cantidad', header: "Cantidad", width :80 },
    {id: 'porcentaje', header: "%", width :80 },
    {id: 'descuento', header: "Descuento", width :80 },
    {id: 'importe', header: "Importe", width :80 },
    {id: 'opt', header: "Opciones", width :80, renderer:del_render }
    ];
            var gridOption = {
            id : grid_demo_id,
                    loadURL : '',
                    saveURL : '',
                    width: "732", //"100%", // 700,
                    height: "260", //"100%", // 330,
                    container : 'gridbox',
                    replaceContainer : true,
                    encoding : 'UTF-8', // Sigma.$encoding(), 
                    dataset : dsOption,
                    columns : colsOption,
                    clickStartEdit : true,
                    defaultRecord : {'id':"00", 'nombre':""},
                    pageSize:10,
                    toolbarContent : 'nav state'
            };
            var mygrid = new Sigma.Grid(gridOption);
            Sigma.Util.onLoad(function(){
            mygrid.render();
            });
            function habilitar()
            {
            $('#bBodega').removeAttr("disabled");
                    $('#bLinea').removeAttr("disabled");
                    $('#bEstilo').removeAttr("disabled");
                    $('#bColor').removeAttr("disabled");
                    $('#bTalla').removeAttr("disabled");
                    $('#Enter').removeAttr("disabled");
                    $('#buy').removeAttr("disabled");
                    $('#FLETE').removeAttr("disabled");
                    $('#bBodega').focus();
                    window.editable = true;
            }

    function desHabilitar()
    {
    $('#bBodega').attr("disabled", "disabled");
            $('#bLinea').attr("disabled", "disabled");
            $('#bEstilo').attr("disabled", "disabled");
            $('#bColor').attr("disabled", "disabled");
            $('#bTalla').attr("disabled", "disabled");
            $('#Enter').attr("disabled", "disabled");
            $('#buy').attr("disabled", "disabled");
            $('#FLETE').attr("disabled", "disabled");
            window.editable = false;
    }

    function filtrado(){

    location.href = "/nymsa/factura/resumen";
    }

    function pendientes(){

    location.href = "/nymsa/factura/ver_pendientes";
    }

    function fiscales(){

    location.href = "/nymsa/factura/ver_fiscales";
    }

    function traer_cambio(){
    n_pedido = window.codPedido
            if (parseInt(n_pedido) <= 0 || n_pedido == "")
    {
    alert("No se puede procesar");
    } else{
    if (window.editable){
    $('#ventana_cambio').css('display', 'block');
    } else{
    alert("Este pedido ya fue procesado");
    }
    }
    }

    function cerrar_cambio(){
    $('#ventana_cambio').css('display', 'none');
    }

    function cargar_cambio(){
    uri = "/nymsa/factura/traer_cambio";
            data = {
            "cambio": $('#nCambio').val().trim(),
                    "pedido": window.codPedido,
                    "cliente": $('#codigo_cliente').val().trim(),
                    "caja": {n_caja},
                    "serie":"{codigo_serie_factura}",
                    "pedido_r":$('#n_pedido').val().trim()
            }
    res = $.post(uri, data, function(d){
    if (d.message != null) alert(d.message);
            cerrar_cambio();
            var grid = Sigma.$grid("factura_grid");
            grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
            grid.reload();
            cargar_totales();
    }, "json");
    }

    function cclientef(){
		var _cliente = $('#codigo_cliente').val().trim();
        var uri = '/nymsa/modulo/requiere_actualizar'
        var data = {
            cliente: _cliente
        };
		
        var prq = $.post(uri, data, function(d){
            if (d.actualizar){
				$('#wact').css('display', 'block');
            } else{
				obtenerDatos();
                cargar_cliente();
            }
        }, "json");
    }

    var patron_dui = new Array(8, 1);
            var patron_nit = new Array(4, 6, 3, 1);
            var patron_telefono = new Array(4, 4);
            var patron_fecha = new Array(4, 2, 2);
            function mascara(d, sep, pat, nums){
            if (d.valant != d.value){
            val = d.value
                    largo = val.length
                    val = val.split(sep)
                    val2 = ''
                    for (r = 0; r < val.length; r++){
            val2 += val[r]
            }
            if (nums){
            for (z = 0; z < val2.length; z++){
            if (isNaN(val2.charAt(z))){
            letra = new RegExp(val2.charAt(z), "g")
                    val2 = val2.replace(letra, "")
            }
            }
            }
            val = ''
                    val3 = new Array()
                    for (s = 0; s < pat.length; s++){
            val3[s] = val2.substring(0, pat[s])
                    val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++){
            if (q == 0){
            val = val3[q]
            }
            else{
            if (val3[q] != ""){
            val += sep + val3[q]
            }
            }
            }
            d.value = val
                    d.valant = val
            }
            }

    function updateInfo(){
    var info = [];
            var empty = false;
            $('.itemActUser').each(function(){
    var _valor = $(this).val().trim();
            var _campo = $(this).attr('id');
            if (_valor == "") empty = true;
            var data = {
            campo: _campo,
                    valor: _valor
            };
            info.push(data);
    });
            if (empty) alert('Todos los campos son obligatorios');
            else{
            var uri = '/nymsa/modulo/efectuar_actualizacion';
                    var send = {
                    update: JSON.stringify(info),
                            cliente: $('#codigo_cliente').val().trim()
                    };
                    var scp = $.post(uri, send, function(d){
                    $('#wact').css('display', 'none');
                            $('#codigo_cliente').blur();
                    }, "json");
            }
    }

</script>


<!-- CUADRO DE ACTUALIZACION DE DATOS -->
<div id="wact" style="width:100%;height:100%;position:fixed;top:0px;left:0px;background:#fff;z-index:100000;padding:60px;display:none;">
    <i class="icon-locked" style="font-size:40px;"></i>
    <h3>Lo sentimos, antes de poder facturar de nuevo debe actualizar la siguiente información</h3>
    <br/>
    <div style="width:400px;text-align:right;padding:20px;border-radius:10px 10px 10px 10px;border:solid 1px #D3D3D3;">
        {campos_actualizables}
        <br/>
        <button class="primary" onclick="updateInfo();">Actualizar</button>
    </div>
    <h4>Gracias por su compresión!</h4>
</div>
<!-- FIN ACTUALIZACION -->


<div class="window" id="ventana_cambio" style="position:fixed;margin:0 auto;z-index:10000;top:-30px;display:none;">
    <div class="caption">
        <span class="icon icon-windows"></span> 
        <div class="title">Traer cambios</div> 
        <button class="btn-close"></button> 
    </div>
    <div class="content" style="padding:50px;">
        <h3>Traer Cambios</h3>
        # Cambio <input type="text" id="nCambio" /> <button onclick="cargar_cambio();"> Aceptar </button>
        <button onclick="cerrar_cambio();"> cancelar </button>
    </div>
</div>
<section style="max-width:1100px;margin:0 auto;">
    <!-- encabezado -->
    <div style="text-align:right;padding-right:40px;">
        <div class="toolbar transparent">
            <button onclick="location.href='/nymsa/factura/notas_remision'"><i class="icon-arrow-left on-left"></i>Volver</button>
        </div>
    </div>
    <hr/>

    <!-- formulario de factura -->
    <form>
        <div style="display:table;">
            <div style="width:600px;float:left;margin-right: 10px;margin-bottom: 20px;">
                <ul style="list-style:none;display:table;text-align:left;width:550px;font-size:12px;background:#F3F3F3;">
                    <li style="float:left;width:100px;">
                        # Pedido
                        <br/>
                        <input type="text" value="0" id="n_pedido" style="width:90px;" onblur="setCero();" />
                    </li>
                    <li style="float:left;width:100px;">
                        Fecha
                        <br/>
                        <input type="text" value="{fecha}" id="fecha" style="width:90px;" />
                    </li>
                    <li style="float:left;width:70px;">
                        Cliente
                        <br/>
                        <input type="text" id="codigo_cliente" onblur="cclientef()" value="0" style="width:60px;"/>
                    </li>
					
                    <li style="float:left;width:140px;">
                        Tipo
                        <br/>
                        <select value="" id="ftipo" style="width:130px;" disabled="disabled">
                        </select>
                    </li>

                    <li style="float:left;width:140px;">
                        Estado
                        <br/>
                        <select value="" id="festado" style="width:130px;" disabled="disabled">
                        </select>
                    </li>
                </ul>
				<p>Datos del cliente</p>
				<hr/>
                <table style="width:600px;">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        Nombre cliente&nbsp;&nbsp;&nbsp; 
                                    </td>
                                    <td>
                                        <input type="text" id="nombre_cliente" style="width:100%;" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Direcci&oacute;n: 
                                    </td>
                                    <td>
                                        <input type="text" id="direccion" style="width:100%;" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Agente
                                    </td>
                                    <td>
                                        <select style="width:100%;" readonly>
                                            <option>Nd</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        Telefono
                                    </td>
                                    <td>
                                        <input type="text" id="telefono_cliente" style="width:100%;" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>	
                                        D&iacute;as cr&eacute;dito &nbsp;&nbsp;&nbsp;&nbsp;
                                    </td>
                                    <td>	
                                        <input type="text" id="dias_credito" style="width:100%;" readonly />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Concepto 
                                    </td>
                                    <td>	
                                        <input type="text" style="width:100%;" value="COMPRA" readonly />
                                    </td>
                                </tr>   
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
			
            <div style="width:400px;background:#F3F3F3;padding:15px;float:left;">
				<p>Estado del cliente</p>
				<hr/>
                <div style="display:table;width:100%;">
                    <div style="float:left;">
                        <input type="text" id="credito" style="width:50px;" readonly="readonly" />
                        Limite de credito
						<br/>
                        <input type="text" id="credito_usado" style="width:50px;" readonly="readonly" />
                        Usado
						<br/>
                        <input type="text" id="disponible" style="width:50px;" readonly="readonly" />
                        Saldo
						<br/>
                        <input type="text" id="monto_extra" style="width:50px;" readonly="readonly" />
                        Monto extra
						<br/>
                    </div>
                    <div style="float:left;width:50%;margin-left: 20px;">
                        <input type="checkbox" id="bloqueado" disabled="disabled" />
                        Bloqueado
						<br/>
                        <input type="checkbox" id="tcredito" disabled="disabled" />
                        Credito
						<br/>
                        <input type="checkbox" id="extra_credito" disabled="disabled" />
                        Financiamiento extra
						<br/>
                        <input type="checkbox" id="transitorio" disabled="disabled" />
                        Transitorio
						<br/>
                        <input type="checkbox" id="empleado" disabled="disabled" />
						Empleado
					</div>
                </div>
				<br/>
				<table>
					<tr>
						<td><input type="text" id="telefono_celular" style="width:100px;" readonly="readonly" /></td>
						<td><input type="text" id="telefono_oficina" style="width:100px;" readonly="readonly" /></td>
						<td><input type="text" id="telefono_casa" style="width:100px;" readonly="readonly" /></td>
					</tr>
					<tr>
						<td>Tel celular</td>
						<td>Tel oficina</td>
						<td>Tel casa</td>
					</tr>
				</table>
            </div>

        </div>

        <!-- busqueda del producto -->
        <div class="input-control text" id="info-bar">

            <select id="bBodega" style="width:150px;" disabled="disabled">
                <!-- START bodegas -->
                <option value="{id}">[{id}] | {nombre}</option>
                <!-- END bodegas -->
            </select>
            <select id="bLinea" style="width:130px;" disabled="disabled" > 
                <!-- START lineas -->
                <option value="{id}">[{id}] | {nombre}</option>
                <!-- END lineas -->
            </select>
            <input type="text" id="bEstilo" style="width:70px;padding: 0px;" onblur="verificarExistencia();" disabled="disabled" />

            <input type="text" id="bColor" style="width:70px;padding: 0px;" disabled="disabled" />

            <input type="text" id="bTalla" style="width:70px;padding: 0px;" onblur="consulta();" disabled="disabled" onchange="seleccionarTalla();" >

            <input type="text" id="bPrecio" style="width:70px;padding: 0px;" readonly/>

            <input type="text" id="bCantidad" style="width:70px;padding: 0px" onchange="seleccionarCantidad();"/>

            <input type="text" id="bPorcentaje" style="width:70px;padding: 0px" readonly/>

            <input type="text" id="bDescuento" style="width:70px;padding: 0px" readonly/>

            <input type="text" id="bImporte" style="width:70px;padding: 0px" readonly/>

            <input type="text" id="bSerie" style="width:70px;padding: 0px" readonly/>
            <input type="text" id="bSerie" style="width:70px;padding: 0px" readonly/>

            <button onfocus="agregarCompra(event);" onclick="agregarCompra(event);" id="Enter" disabled="disabled"><i class="icon-enter-2"></i></button>
        </div>
        <div id="info-titles">
            <p style="padding-right:150px;">Bodega</p>
            <p style="padding-right:130px;">Linea</p> 
            <p>Estilo</p> 
            <p>Color</p> 
            <p>Talla</p>
            <p>Precio</p>
            <p>Cantidad</p> 
            <p>%</p>
            <p>Descuento</p> 
            <p>Importe</p> 
            <p>Serie garant&iacute;a</p> 
        </div>

    </form>
    <br/>
    <br/>
    <div id="bigbox" style="margin:15px;display:!none;float:left;">
        <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

        </div>
    </div>
    <div style="width:250px;float:left;text-align:right;background:#F3F3F3;padding-right:30px;margin-top:20px;">
        <form>
            <div>
                <h6>[Caja No. {n_caja} / {t_caja}]</h6>
                <h6>Siguiente Pedido: <span id="NoFactura">{numero_factura}</span> </h6>
				<h6>Factura con serie: {codigo_serie_factura}</h6>
                <div style="padding:0px;">
                    (+) Flete <input type="checkbox" id="FLETE" disabled="disabled" />
                </div>
                <br/>
                Subtotal <input type="text" id="SUBTOTAL" readonly style="width:75px;" />
                <br/>
                (-) Descuento <input type="text" id="DESCUENTO" readonly style="width:75px;" />
                <br/>
                Total <input type="text" readonly id="TOTAL" style="width:75px;" />
                <br/>
                <br/>
                <button class="bg-color-blue fg-color-white" type="button" onclick="facturacion();" id="buy" disabled="disabled">Crear nota</button>
            </div>
        </form>
    </div>

    <section>

        <div id="resumenStock" style="display:none;background:#fff;position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:100001;text-align:center;">
            <div id="bigbox6" style="margin:15px;display:!none;">
                <div id="gridbox6" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

                </div>
            </div>
            <br/>
            <br/>
            <button class="success large" onclick="cerrarResumen();"> <i class="icon-arrow-down-3"></i> Aceptar</button>
        </div>
        <script type="text/javascript">

                    function verificarExistencia(){
                    var _linea = $('#bLinea').val().trim();
                            var _estilo = $('#bEstilo').val().trim();
                            var uri = '/nymsa/inventario/verificarExistencia';
                            var data = {
                            linea : _linea,
                                    estilo: _estilo
                            };
                            var req = $.post(uri, data, function(d){
                            if (!d.existe) alert("No existe el producto");
                            }, "json");
                    }

            function cargar_cliente(){

            uri = "/nymsa/cliente/datos_credito";
                    data = {

                    "cliente" : $('#codigo_cliente').val().trim()
                    };
                    v = $.post(uri, data, function(d){

                    $('#telefono_celular').val(d.telefono_celular);
                            $('#telefono_oficina').val(d.telefono_oficina);
                            $('#telefono_casa').val(d.telefono_casa);
                            $('#credito').val(d.credito);
                            $('#nombre').val(d.nombre);
                            $('#credito_usado').val(d.credito_usado);
                            $('#disponible').val(parseFloat(d.credito - d.credito_usado).toFixed(2));
                            $('#monto_extra').val(d.monto_extra);
                            if (d.empleado == 1)
                            $('#empleado').attr("checked", true);
                            else
                            $('#empleado').removeAttr("checked");
                            if (d.tcredito == 1)
                            $('#tcredito').attr("checked", true);
                            else
                            $('#tcredito').removeAttr("checked");
                            if (d.transitorio == 1)
                            $('#transitorio').attr("checked", true);
                            else
                            $('#transitorio').removeAttr("checked");
                            if (d.bloqueado == 1)
                            $('#bloqueado').attr("checked", true);
                            else
                            $('#bloqueado').removeAttr("checked");
                            if (d.extra_credito == 1)
                            $('#extra_credito').attr("checked", true);
                            else
                            $('#extra_credito').removeAttr("checked");
                    }, "json");
            }

            function facturacion()
            {
                if (($('#TOTAL').val().trim() * 1) > 0){
                    uri = "/nymsa/factura/esta_vacia/" + window.codPedido;
                    data = { };
                    q = $.post(uri, data, function(d){

                        if (d.vacia)
                        {
                            alert("Pedido vacio, no se puede procesar");
                        }
                        else
                        {
                            nota_remision();
                        }

                    }, "json");
                } else{
                    alert("No se puede procesar un saldo menor o igual a cero");
                }

            }

            function credito_fiscal(){
			alert('actualmente este metodo de pago esta desactivado');
				/*// verificar si cliente tiene credito fiscal
				uri = "/nymsa/cliente/tiene_credito_fiscal";
                    data = {
                    "cliente" : $('#codigo_cliente').val().trim()
                    };
                    res = $.post(uri, data, function(d){

                    if (d.estado){
                    $.Dialog.close();
                            $.Dialog({
                            overlay: true,
                                    shadow: true,
                                    flat: true,
                                    title: 'Opciones de credito fiscal',
                                    content: '',
                                    width:400,
                                    onShow: function(_dialog){
                                    var content = _dialog.children('.content');
                                            html = [
                                                    '<br/><br/><div style="text-align:center;">',
                                                    '<button class="shortcut" onclick="cf_facturar_credito();"><i class="icon-credit-card"></i>Crédito</button>',
                                                    '<button class="shortcut" onclick="cf_facturar_contado();"><i class="icon-dollar"></i>Contado</button>'
                                            ].join("");
                                            content.html(html);
                                    }
                            });
                    } else{
                    alert("No tiene credito fiscal");
                    }

                    }, "json");
					*/
            }

            function facturar_contado()
            {
				/* proceso de facturacion al contado */

				factura = window.codPedido; // numero de factura a procesar

                  uri = "/nymsa/factura/contado"; // url de proceso de facturacion contado

                  resource = [ uri, factura ].join("/");
				request = $.post(resource, { "serie": {serie_factura} }, function(data){

					  // punto de respuesta de la peticion
					window.editable = false;
					imp();
					window.codPedido = 0;
					obtenerDatosCliente(0);
					  
					var grid = Sigma.$grid("factura_grid");
					grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
					grid.reload();
					$('#n_pedido').val("0");
					$('#codigo_cliente').val("0");
					$('#codigo_cliente').removeAttr("disabled");
					$('#fecha').removeAttr("disabled");
					$('#n_pedido').focus();
					desHabilitar();
					
					if (window.cerrar)
						window.close();
					
					$.Dialog.close();
					$('#DESCUENTO').val("");
					$('#TOTAL').val("");
					$('#SUBTOTAL').val("");
                   }, "json");
            }


            function cf_facturar_contado()
            {
            /* proceso de facturacion al contado */

            factura = window.codPedido; // numero de factura a procesar

                    uri = "/nymsa/factura/cf_contado"; // url de proceso de facturacion contado

                    resource = [ uri, factura ].join("/");
                    request = $.post(resource, { "serie": {serie_credito_fiscal} }, function(data){

                    // punto de respuesta de la peticion
                    window.editable = false;
                            imp();
                            window.codPedido = 0;
                            obtenerDatosCliente(0);
                            //alert("No existe el pedido");
                            var grid = Sigma.$grid("factura_grid");
                            grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
                            grid.reload();
                            $('#n_pedido').val("0");
                            $('#codigo_cliente').val("0");
                            $('#codigo_cliente').removeAttr("disabled");
                            $('#fecha').removeAttr("disabled");
                            $('#n_pedido').focus();
                            desHabilitar();
                            $.Dialog.close();
                            $('#DESCUENTO').val("");
                            $('#TOTAL').val("");
                            $('#SUBTOTAL').val("");
                    }, "json");
            }

            function facturar_credito()
            {
            /* proceso de facturacion al credito */

            factura = window.codPedido; // numero de factura a procesar

                    uri = "/nymsa/factura/credito"; // url de proceso de facturacion credito

                    resource = [ uri, factura ].join("/");
                    request = $.post(resource, { "serie": {serie_factura} }, function(data){
                    if (data.message != null) alert(data.message);
                            // punto de respuesta de la peticion
                            window.editable = false;
                            imp();
                            window.codPedido = 0;
                            obtenerDatosCliente(0);
                            //alert("No existe el pedido");
                            var grid = Sigma.$grid("factura_grid");
                            grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
                            grid.reload();
                            $('#n_pedido').val("0");
                            $('#codigo_cliente').val("0");
                            $('#codigo_cliente').removeAttr("disabled");
                            $('#fecha').removeAttr("disabled");
                            $('#n_pedido').focus();
                            desHabilitar();
                            if (window.cerrar)
                            window.close();
                            $.Dialog.close();
                            $('#DESCUENTO').val("");
                            $('#TOTAL').val("");
                            $('#SUBTOTAL').val("");
                    }, "json");
            }

            function cf_facturar_credito()
            {
            /* proceso de facturacion al credito */

            factura = window.codPedido; // numero de factura a procesar

                    uri = "/nymsa/factura/cf_credito"; // url de proceso de facturacion credito

                    resource = [ uri, factura ].join("/");
                    request = $.post(resource, { "serie": {serie_credito_fiscal} }, function(data){
                    if (data.message != null) alert(data.message);
                            // punto de respuesta de la peticion
                            window.editable = false;
                            imp();
                            window.codPedido = 0;
                            obtenerDatosCliente(0);
                            //alert("No existe el pedido");
                            var grid = Sigma.$grid("factura_grid");
                            grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
                            grid.reload();
                            $('#n_pedido').val("0");
                            $('#codigo_cliente').val("0");
                            $('#codigo_cliente').removeAttr("disabled");
                            $('#fecha').removeAttr("disabled");
                            $('#n_pedido').focus();
                            desHabilitar();
                            $.Dialog.close();
                            $('#DESCUENTO').val("");
                            $('#TOTAL').val("");
                            $('#SUBTOTAL').val("");
                    }, "json");
            }

            function nota_remision()
            {
            /* proceso de facturacion al credito */

            factura = window.codPedido; // numero de factura a procesar

                    uri = "/nymsa/factura/nota_remision"; // url de proceso de nota de remision

                    resource = [ uri, factura ].join("/");
                    request = $.post(resource, { }, function(data){
                    if (data.message != null) alert(data.message);
                            // punto de respuesta de la peticion
                            window.editable = false;
                            //imprimirFactura(); aca se imprime un documento especial
                            window.codPedido = 0;
                            obtenerDatosCliente(0);
                            //alert("No existe el pedido");
                            var grid = Sigma.$grid("factura_grid");
                            grid.loadURL = '/nymsa/factura/cargar_detalle/' + window.codPedido;
                            grid.reload();
                            $('#n_pedido').val("0");
                            $('#codigo_cliente').val("0");
                            $('#codigo_cliente').removeAttr("disabled");
                            $('#fecha').removeAttr("disabled");
                            $('#n_pedido').focus();
                            desHabilitar();
                            $.Dialog.close();
                            $('#DESCUENTO').val("");
                            $('#TOTAL').val("");
                            $('#SUBTOTAL').val("");
                    }, "json");
            }

		function cerrarResumen()
         {
			commit();
              var grid = Sigma.$grid("genero3_grid");
              grid.reload();
              $('#resumenStock').css('display', 'none');
         }

            function consulta()
            {
            bodega = $('#bBodega').val().trim();
                    linea = $('#bLinea').val().trim();
                    estilo = $('#bEstilo').val().trim();
                    color = $('#bColor').val().trim();
                    talla = $('#bTalla').val().trim();
                    var filtros = [];
                    if (estilo != "") filtros.push(['estado_bodega.estilo', estilo].join(":"));
                    if (linea != "") filtros.push(['estado_bodega.linea', linea].join(":"));
                    if (color != "") filtros.push(['estado_bodega.color', color].join(":"));
                    if (talla != "") filtros.push(['estado_bodega.talla', talla].join(":"));
                    if (bodega != "") filtros.push(['bodega', bodega].join(":"));
                    if (estilo != "" && color == "" && talla == ""){
            var grid = Sigma.$grid("genero3_grid");
                    grid.loadURL = '/nymsa/inventario/cargar_detalle_traslado?filtros=' + filtros;
                    grid.reload();
                    $('#resumenStock').css('display', 'block');
            }
            }

            function input_render(value, record, columnObj, grid, colNo, rowNo){
            string_ = record['linea'] + '_' + record['estilo'] + '_' + record['color'] + '_' + record['talla'] + '_' + record['costo'] + '_' + record['stock'] + '_' + record['precio'];
                    return '<input type="text" value="0" class="items" id="' + string_ + '"/>';
            }

            function stock_render(value, record, columnObj, grid, colNo, rowNo){
            if (value == "" || value == " " || value == null){
            return "0";
            } else{
            return value;
            }
            }

            var grid_demo_id3 = "genero3_grid";
                    var dsOption3 = {

                    fields :[
                    {name : 'linea'  },
                    {name : 'estilo'  },
                    {name : 'color'  },
                    {name : 'talla'  },
                    {name : 'bodega'  },
                    {name : 'stock'  }
                    ],
                            recordType : 'object'
                    }

            var colsOption3 = [
            {id: 'linea', header: "Linea", width :100 },
            {id: 'estilo', header: "Estilo", width :100},
            {id: 'color', header: "Color", width :100},
            {id: 'talla', header: "Talla", width :100},
            {id: 'ingresan', header: "Ingresan", width :100, renderer:input_render},
            {id: 'stock', header: "Stock", width :100, renderer:stock_render},
            {id: 'costo', header: "Costo", width :100},
            {id: 'precio', header: "Precio", width :100},
            {id: 'bodega', header: "Bodega", width :100}
            ];
                    var gridOption3 = {
                    id : grid_demo_id3,
                            loadURL : '',
                            saveURL : '',
                            width: "900", //"100%", // 700,
                            height: "320", //"100%", // 330,
                            container : 'gridbox6',
                            replaceContainer : true,
                            encoding : 'UTF-8', // Sigma.$encoding(), 
                            dataset : dsOption3,
                            columns : colsOption3,
                            clickStartEdit : true,
                            defaultRecord : {'id':"00", 'nombre':""},
                            pageSize:20,
                            toolbarContent : ' nav state'
                    };
                    var mygrid3 = new Sigma.Grid(gridOption3);
                    Sigma.Util.onLoad(function(){
                    mygrid3.render();
                    });
					
				/* agrega productos a una factura de manera masiva */	
				function commit()
				{
					info = [ ]; // datos de los productos a ser insertados al mismo tiempo
					
					$('.items').each(function(){
						if ($(this).val().trim() != "" && $(this).val() > 0){
							data = $(this).attr('id').split('_');
							data_send = {
								"linea":  	data[0],
								"estilo": 	data[1],
								"color": 	data[2],
								"talla": 	data[3],
								"costo":   	data[4],
								"stock":   	data[5],
								"precio":   	data[6],
								"cantidad":   $(this).val(),
								"total": 	parseInt($(this).val()) * parseFloat(data[4])
							};
							
							PORCENTAJE  = parseFloat($('#bPorcentaje').val());
							BODEGA 	   = $('#bBodega').val();
							CLIENTE 	   = $('#codigo_cliente').val();
							DESCRIPCION = data_send.linea + "-" + data_send.estilo + "-" + data_send.color + "-" + data_send.talla;
							chunck      = null;
							chunck      = {};
							chunck      = {
								bodega:BODEGA,
								estilo:data_send.estilo,
								color:data_send.color,
								linea:data_send.linea,
								talla:data_send.talla,
								cantidad:data_send.cantidad,
								descripcion:DESCRIPCION,
								cliente:CLIENTE,
								factura:window.codPedido,
								precio:data_send.precio,
								porcentaje:PORCENTAJE
							};
							
							info.push(chunck);
							$(this).val(0);
						}
					});
								
					send = { "productos": JSON.stringify(info) };
								
					df = $.post('/nymsa/factura/insercionMultiple', send, function(dC){
						var grid = Sigma.$grid("factura_grid");
						grid.reload();
						cargar_totales();
						if (dC.error){ alert("No se agregaron algunos pedidos por falta de stock"); }
					}, "json");
				}

        </script>