<script type="text/javascript" >

    var grid_demo_id = "genero_grid";


    var dsOption = {
        fields: [
            {name: 'serie'},
            {name: 'pedido'},
            {name: 'caja'},
            {name: 'pedido'},
            {name: 'fecha'},
            {name: 'subtotal'},
            {name: 'descuento'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'codigo_factura', header: "Serie ", width: 80},
        {id: 'pedido', header: "No. Pedido", width: 80},
        {id: 'caja', header: "Caja", width: 50},
        {id: 'fecha', header: "Fecha emision", width: 100},
        {id: 'subtotal', header: "Subtotal", width: 100},
        {id: 'descuento', header: "Descuento", width: 100},
        {id: 'total', header: "Total", width: 100}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/nymsa/factura/cargarPendientes',
        saveURL: '',
        width: "715", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 30,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
		Sigma.Util.onLoad(function() {
		mygrid.render();
    });

</script>
<h3>Historial de pedidos</h3>
<hr/>
<div id="bigbox" style="margin:15px;display:!none;float:left;">
	<div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

	</div>
</div>