<script type="text/javascript" >

    var grid_demo_id = "genero_grid";


    var dsOption = {
        fields: [
            {name: 'serie'},
            {name: 'nofac'},
            {name: 'caja'},
            {name: 'noped'},
            {name: 'fefac'},
            {name: 'formapago'},
            {name: 'rd_cod'},
            {name: 'anulado'},
            {name: 'venta_b'},
            {name: 'descuento'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

	function tipo_render(value, record, columnObj, grid, colNo, rowNo){
		if(record['formapago']==2) return 'CREDITO';
		if(record['formapago']==1) return 'CONTADO';
		
		return 'INDEFINIDO';
    }
	
    var colsOption = [
        {id: 'serie', header: "Serie ", width: 80},
        {id: 'nofac', header: "No. Factura", width: 80},
        {id: 'caja', header: "Caja", width: 50},
        {id: 'noped', header: "# Pedido", width: 100},
        {id: 'rd_cod', header: "Cliente", width: 75},
        {id: 'fefac', header: "Fecha emision", width: 100},
        {id: 'formapago', header: "Tipo de factura", width: 100, renderer:tipo_render},
        {id: 'anulado', header: "Anulado", width: 100},
        {id: 'venta_b', header: "Subtotal", width: 100},
        {id: 'descuento', header: "Descuento", width: 100},
        {id: 'total', header: "Total", width: 100}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/nymsa/factura/resumenFacturas',
        saveURL: '',
        width: "1000", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
        Sigma.Util.onLoad(function() {
        mygrid.render();
    });

</script>
<h3>Facturas</h3>
<hr/>
<div id="bigbox" style="margin:15px;display:!none;float:left;">
	<div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

	</div>
</div>