<form method="post" action="/nymsa/factura/guardar_serie">
    <div style="display:table;">
        <span id="msg"></span>
        <div style="width:300px;float:left;margin:10px;">
            Tipo: 
            <select style="font-family:monospace;width:100%;" id="tipo" name="tipo">
                <option value="FC">FC | Factura</option>
                <option value="NC">NC | N.Credito</option>
                <option value="ND">ND | N.Debito</option>
                <option value="NR">NR | N.Remision</option>
                <option value="RC">RC | Recibo</option>
                <option value="RI">RI | Retencion iva</option>
                <option value="TI">TI | Ti</option>
                <option value="CF">CF | Credito Fiscal</option>
            </select>
            <br/>
            Serie: <div class="input-control text"><input type="text" name="serie" id="serie" onchange="check_serie();" required="required" /></div>
            <br/>
            Descripcion: <div class="input-control text"><input type="text" name="descripcion" required="required" /></div>
        </div>

        <div style="width:300px;float:left;margin:10px;">
            # Resolucion: <div class="input-control text"><input type="text" name="resolucion" /></div>
            <br/>
            Fecha resolucion: <div class="input-control text"><input type="text" name="fecha_resolucion" /></div>
            <br/>
            Autorizado del: <div class="input-control text"><input type="text" value="0" name="del" /></div>
            <br/>
            Al: <div class="input-control text"><input type="text" value="99999999" name="al" /></div>
        </div>

        <div style="width:300px;float:left;margin:10px;">
            Ultimo utilizado: <div class="input-control text"><input type="text" disabled="disabled" /></div>
            <br/>
            <br/>
            <br/>
            <button type="submit" id="btnGuardar" class="primary">Guardar</button>
        </div>
    </div>
</form>
<div id="bigbox" style="margin:15px;display:!none;">
    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

    </div>
</div>

<script type="text/javascript" >

    function check_serie()
    {
        sSerie = $('#serie').val();
        sTipo = $('#tipo').val();

        uri = "/nymsa/factura/existe_serie";

        data = {
            "tipo": sTipo,
            "serie": sSerie
        };

        xac = $.post(uri, data, function(d) {
            if (d.existe) {
                $('#msg').html("Ya existe!");
                $('#btnGuardar').attr("disabled", "disabled");
            } else {
                $('#btnGuardar').removeAttr("disabled");
                $('#msg').html("");
            }
        }, "json");

    }

    var grid_demo_id = "bodega_grid";


    var dsOption = {
        fields: [
            {name: 'tipo'},
            {name: 'serie'},
            {name: 'fecha'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'tipo', header: "Tipo", width: 150},
        {id: 'serie', header: "Serie", width: 100},
        {id: 'del', header: "Del", width: 150},
        {id: 'al', header: "Al", width: 150},
        {id: 'ultimo_utilizado', header: "Ultimo utilizado", width: 150},
        {id: 'descripcion', header: "Descripcion", width: 300}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/nymsa/inventario/cargar?tblname=serie',
        saveURL: '/nymsa/inventario/actualizar?tblname=serie',
        width: "1010", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        allowCustomSkin: true,
        skin: 'mac',
        toolbarContent: 'reload | del save | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });
</script>