<script type="text/javascript">
    url = new url_handler();
    url.initialize();
    if (url.isKey("success_code"))
    {
        if (url.getValue("success_code") == 200)
        {
            $.Notify({
                caption: "Exito",
                content: "El registro se editó correctamente"
            });
        }
    }
</script>
<style type="text/css">
    .tool-panel
    {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

        padding: 30px;
        margin: 20px;

    }
</style>
<section>
    <div class="tool-panel">
        <h2>Mantenimientos <i class="icon-tools"></i> </h2>
        <span style="font-size:16px;"><a href="/nymsa/cliente/ficha">Ficha de clientes</a></span>
        <br/>
        <span style="font-size:16px;"><a href="/nymsa/cliente/listado">Clientes</a></span>
        <br/>
        <span style="font-size:16px;"><a href="/nymsa/cliente/empleados">Empleados</a></span>
    </div>
</section>