<script type="text/javascript">
    var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            d.value = val
            d.valant = val
        }
    }
</script>
<h3>Datos Laborales</h3>
<hr/>
<div style="display:table;">
    <div style="float:left;width:400px;text-align:right;">
        <form action="/nymsa/cliente/salvar_dato_laboral" method="post">
            <input type="hidden" name="codigo_afiliado" value="{id_cliente}" />
            Nombre empresa
            <input type="text" id="nombre_empresa" name="nombre_empresa" value="" />
            <br/>
            Direccion
            <input type="text" id="direccion_empresa" name="direccion_empresa" value="" />
            <br/>
            Telefono
            <input type="text" id="telefono_empresa" name="telefono_empresa" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" value="" />
            <br/>
            Salario mensual
            <input type="text" id="salario_mensual" name="salario_mensual" value="0.0" />
            <br/>
            otros ingresos
            <input type="text" id="otros_ingresos" name="otros_ingresos" value="0.0" />
            <br/>
            Especifique
            <input type="text" id="especificacion" name="especificacion" value="" />
            <br/>
            Gasto promedio mensual
            <input type="text" id="gasto_mensual" name="gasto_mensual" value="0.0" />
            <br/>
            Puesto
            <input type="text" id="puesto" name="puesto" value="" />
            <br/>
            Fecha que ingreso
            <input type="text" id="fecha_ingreso" onkeyup="mascara(this, '-', patron_fecha, true)" maxlength="10" name="fecha_ingreso" value="" />
    </div>
    <div style="float:left;width:300px;text-align:right;">
        Posee carro? 
        <input type="checkbox" id="posee_carro" name="posee_carro" value="" />
        <br/>
        Marca
        <input type="text" id="marca" name="marca" value="" />
        <br/>
        Modelo
        <input type="text" id="modelo" name="modelo" value="" />
        <br/>
        Tipo
        <input type="text" id="tipo" name="tipo" value="" />
        <br/>
        Vivienda
        <br/>
        propia
        <input type="radio" name="vivienda" value="PROPIO"/>
        familiar
        <input type="radio" name="vivienda" value="FAMILIAR"/>
        alquiler
        <input type="radio" name="vivienda" value="ALQUILER"/>
        <br/>
        <br/>
        Tiempo (Años)
        <input type="text" id="tiempo" name="tiempo" value="" />
        <br/>
        Pago Mensual
        <input type="text" id="pago_mensual" name="pago_mensual" value="0.0" />
        <br/>
        <br/>
        <button type="submit">Guardar</button>
        </form>
    </div>
</div>
<script>

    $(document).ready(function() {
        uri = "/nymsa/cliente/cargar_dato_laboral";
        data = {
            "codigo_afiliado": {id_cliente}
        };

        rq = $.post(uri, data, function(d) {

            $('#nombre_empresa').val(d.nombre_empresa);
            $('#direccion_empresa').val(d.direccion_empresa);
            $('#telefono_empresa').val(d.telefono_empresa);
            $('#salario_mensual').val(d.salario_mensual);
            $('#otros_ingresos').val(d.otros_ingresos);
            $('#especificacion').val(d.especificacion);
            $('#puesto').val(d.puesto);
            $('#fecha_ingreso').val(d.fecha_ingreso);
            if (d.posee_carro == 1) {
                $('#posee_carro').attr("checked", "checked");
            } else {
                $('#posee_carro').removeAttr("checked");
            }
            $('#marca').val(d.marca);
            $('#modelo').val(d.modelo);
            $('#tipo').val(d.tipo);
            $('#tiempo').val(d.tiempo);
            if (d.vivienda == "PROPIO")
                $('input:radio[name=vivienda]:nth(0)').attr('checked', true);
            if (d.vivienda == "FAMILIAR")
                $('input:radio[name=vivienda]:nth(1)').attr('checked', true);
            if (d.vivienda == "ALQUILER")
                $('input:radio[name=vivienda]:nth(2)').attr('checked', true);
            $('#pago_mensual').val(d.pago_mensual);
            $('#gasto_mensual').val(d.gasto_mensual);

        }, "json");
    });

</script>