<script type="text/javascript">
    var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }

            d.value  = val
            d.valant = val
        }
    }
</script>
<h3>Documentos requeridos para aprobación de crédito</h3>
<form action="/nymsa/cliente/subir_documentos" method="post" enctype="multipart/form-data" >
    Tipo documento:
    <select name="tipo">
        <option value="facturaE">Factura energía eléctrica</option>
        <option value="facturaA">Factura agua potable</option>
        <option value="dui">Dui</option>
        <option value="partnac">Partida de nacimiento</option>
    </select>
    <br/>
    <br/>
    <h4>Solo formato PDF</h4>
    <input type="hidden" name="codigo_afiliado" value="{id_cliente}" />
    <input type="file" name="documentos" />
    <input type="submit" value="Subir" />
</form>
<p>
    <br/>
</p>
<h3>Documentos</h3>
<div class="listview">
    <!-- START listado_documentos -->
    <a href="../static/pdf/cliente_{id_cliente}/documento_{nombre}" class="list border" target="_blank">
        <div class="list-content">
            <span class="icon  icon-file-pdf fg-lightBlue"></span>
            <div class="data">
                <span class="list-title">{tipo}</span>
                <span class="list-remark">Formato: pdf</span>
            </div>
        </div>
    </a>
    <!-- END listado_documentos -->
</div>