<style>
    #listado-cliente{
        list-style: none;
    }

    #listado-cliente li{
        border:solid 1px #D3D3D3;
        padding: 30px 10px 5px 10px;
        margin:10px 40px 10px 0px;
    }

    #listado-cliente li:hover{
        background: #CEE3F6;
    }

    #listado-cliente img{
        width: 50px;
        height: 50px;
        border: solid 1px #D3D3D3;
    }
</style>
<script>

    function darDeBaja(user){
    var s = confirm("quiere dar de baja a este empleado");
            if (s){
    location.href = "/nymsa/cliente/borrarEmpleado?id=" + user;
    }
    }

    function Reset(user){
    var s = confirm("quiere negar todos los permisos?");
            if (s){
    var uri = '/nymsa/cliente/resetAcces/' + user;
            var ajaxq = $.post(uri, function(data){
            alert(data.status);
            }, "json");
    }
    }

    function permisos(titulo, cliente){
    $.Dialog({
    'title'      : titulo,
            'content'    : '<form>Modulo: <select id="comboModulos"><option value="inventario">Inventario</option><option value="factura">Faturacion</option><option value="cliente">Clientes</option></select> Sub-Modulo: <select id="comboSub"></select><br/><br/>Modulo: <div id="IconModule"></div><br/>Sub-modulo: <div id="IconSub"></div></form>',
            'buttons'    : {
            'Cerrar'     : {'action': function() {}}
            }
    });
            $('#dialogBox').css('position', 'fixed');
            $('#dialogBox').css('top', 100);
            $('#comboModulos').bind('change', function(){
    var module = $(this).val().trim();
            var uri = '/nymsa/cliente/CheckIfModuleEnabledStr/' + module;
            var ajaxRq = $.post(uri, {id:cliente}, function(data){
            if (data.Result == true){
            $('#IconModule').html('<button id="lockBtn" class="image-button bg-color-blue fg-color-white"> Desbloqueado <i class="icon-unlocked bg-color-red"></i></button>');
                    $('#comboSub').bind('change', function(event){
            var sub_ = $('#comboSub').val();
                    var curi = '/nymsa/cliente/CheckIfSubEnabledStr/' + module + '/' + sub_;
                    var ajax_g = $.post(curi, {id:cliente}, function(data){
                    if (data.Result == false){
                    $('#IconSub').html('<button id="lockBtnSub" class="image-button bg-color-blue fg-color-white"> Bloqueado <i class="icon-locked bg-color-red"></i></button>');
                            $('#lockBtnSub').bind('click', function(event){
                    event.preventDefault();
                            var s = confirm("quiere realizar esta accion");
                            if (s){
                    /* DES-BLOQUEO DE SUB-MODULO */
                    var modulo = $('#comboModulos').val().trim();
                            var sub = $('#comboSub').val().trim();
                            var uri = '/nymsa/cliente/unlockSubAcces/' + modulo + '/' + sub + '/' + cliente;
                            var ajaxRq = $.post(uri, function(data){
                            if (data.status == 'OK'){
                            alert('Sub-modulo desbloqueado correctamente');
                                    location.href = "/nymsa/cliente/empleados";
                            }
                            }, "json");
                    }
                    });
                    } else{
                    $('#IconSub').html('<button id="unlockBtnSub" class="image-button bg-color-blue fg-color-white"> Desbloqueado <i class="icon-unlocked bg-color-red"></i></button>');
                            $('#unlockBtnSub').bind('click', function(event){
                    event.preventDefault();
                            var s = confirm("quiere realizar esta accion");
                            if (s){
                    /* BLOQUEO DE SUB-MODULO */
                    var modulo = $('#comboModulos').val().trim();
                            var sub = $('#comboSub').val().trim();
                            var uri = '/nymsa/cliente/lockSubAcces/' + modulo + '/' + sub + '/' + cliente;
                            var ajaxRq = $.post(uri, function(data){
                            if (data.status == 'OK'){
                            alert('Sub-modulo desbloqueado correctamente');
                                    location.href = "/nymsa/cliente/empleados";
                            }
                            }, "json");
                    }
                    });
                    }
                    }, "json");
            }); $('#comboSub').change();
                    $('#lockBtn').bind('click', function(event){
            //alert('Error al bloquear el modulo');
            var s = confirm("esta seguro de realizar esta accion?");
                    if (s)
            {
            event.preventDefault();
                    var modulo = $('#comboModulos').val().trim();
                    var uri = '/nymsa/cliente/lockAcces/' + modulo + '/' + cliente;
                    var ajaxRq = $.post(uri, function(data){
                    if (data.status == 'OK'){
                    alert('Modulo bloqueado correctamente');
                            location.href = "/nymsa/cliente/empleados";
                    }
                    }, "json");
            }
            });
            } else{
            $('#IconModule').html('<button id="unlockBtn" class="image-button bg-color-blue fg-color-white"> Bloqueado <i class="icon-locked bg-color-red"></i></button>');
                    $('#IconSub').html('<button id="unlockBtnSub" class="image-button bg-color-blue fg-color-white"> Bloqueado <i class="icon-locked bg-color-red"></i></button>');
                    $('#unlockBtn').bind('click', function(event){
            //alert('Vamos a desbloquear');
            event.preventDefault();
                    var s = confirm("esta seguro de realizar esta accion?");
                    if (s)
            {
            var modulo = $('#comboModulos').val().trim();
                    var uri = '/nymsa/cliente/unlockAcces/' + modulo + '/' + cliente;
                    var ajaxRq = $.post(uri, function(data){
                    if (data.status == 'OK'){
                    alert('Modulo desbloqueado correctamente');
                            location.href = "/nymsa/cliente/empleados";
                    }
                    }, "json");
            }
            });
            }
            }, "json");
            switch (module){
    case 'inventario':
            $('#comboSub option').remove();
            $('#comboSub').append('<option>colores</option>');
            $('#comboSub').append('<option>lineas</option>');
            $('#comboSub').append('<option>marcas</option>');
            $('#comboSub').append('<option>generos</option>');
            $('#comboSub').append('<option>proveedores</option>');
            $('#comboSub').append('<option>bodegas</option>');
            $('#comboSub').append('<option>stock</option>');
            $('#comboSub').append('<option>productos</option>');
            break;
            case 'factura':
            $('#comboSub option').remove();
            $('#comboSub').append('<option>Crear Factura</option>');
            break;
            case 'cliente':
            $('#comboSub option').remove();
            $('#comboSub').append('<option value="fichaCliente">Ficha</option>');
            $('#comboSub').append('<option value="listadoCliente">Listado clientes</option>');
            $('#comboSub').append('<option value="listadoEmpleado">Listado empleados</option>');
            break;
            default:
            alert('Module Name Error!');
            break;
    }
    });
            $('#comboModulos').change();
    }

    function ft_di(titulo, cliente){
    $.Dialog({
    'title'      : titulo,
            'content'    : '<img height="200" alt="Sin foto" src="../static/img/users/thumbnail_' + cliente + '" />',
            'buttons'    : {
            'Cerrar'     : {'action': function() {}}
            }
    });
            $('#dialogBox').css('position', 'fixed');
            $('#dialogBox').css('top', 100);
    }

</script>

<section>
    {paginacion}
    <ul id="listado-cliente">
        <!-- START empleados -->
        <li id="user_{codigo_afiliado}">
            <a href="javascript:void(0);" onclick="ft_di('Foto {primer_nombre} {primer_apellido}', {codigo_afiliado});">
                <img id="fc_{codigo_afiliado}" src="../static/img/users/thumbnail_{codigo_afiliado}" style="float:left;margin-right:5px;" alt="sin foto" />
            </a> 
            <h4>
                {primer_nombre} {segundo_nombre} 
                {primer_apellido} {segundo_apellido}
            </h4>
            Dui: {dui} - Telefono: {telefono_casa} - 
            M&oacute;vil: {telefono_celular}
            <br/>
            <a href="javascript:void(0);" onclick="permisos('Permisos {primer_nombre} {primer_apellido}', {codigo_afiliado});">
                <i class="icon-cog"></i> Permisos
            </a>
            -
            <a href="/nymsa/cliente/ficha?cliente={codigo_afiliado}">
                <i class="icon-user-2"></i> ver ficha
            </a>
            -
            <a href="javascript:void(0);" onclick="Reset({codigo_afiliado});">
                <i class="icon-locked"></i> Negar todos los permisos
            </a>
            <input type="hidden" class="data_c" value="{codigo_afiliado}" />
        </li>
        <!-- END empleados -->
    </ul>
</section>
<script>
            $(function(){
            $('#user_{hidden}').css('display', 'none');
            });
</script>