<style>
    #listado-cliente{
        list-style: none;
    }

    #listado-cliente li{
        border:solid 1px #D3D3D3;
        padding: 30px 10px 5px 10px;
        margin:10px 40px 10px 0px;
    }

    #listado-cliente li:hover{
        background: #CEE3F6;
    }

    #listado-cliente img{
        width: 50px;
        height: 50px;
        border: solid 1px #D3D3D3;
    }
</style>
<script>

    function upload(titulo, cliente) {
        $.Dialog({
            'width': 400,
            'title': titulo,
            'content': '<form action="#" id="photo_form" method="post"><h3>Cargar una nueva foto</h3><input type="file" id="imgs" name="imgs"/></form>',
            'buttons': {
                'Aceptar': {'action': function() {
                        var inputFileImage = document.getElementById("imgs");
                        var file = inputFileImage.files[0];
                        var data = new FormData();
                        data.append('archivo', file);
                        var url = "/nymsa/cliente/foto?cliente=" + cliente;
                        $.ajax({
                            url: url,
                            type: 'POST',
                            contentType: false,
                            data: data,
                            processData: false,
                            cache: false
                        }).done(function(data) {
                            data = data.trim();
                            $('#fc_' + data).attr('src', '../static/img/users/thumbnail_' + data);
                        });
                    }},
                'Cancelar': {'action': function() {
                    }}
            }
        });
        $('#dialogBox').css('position', 'fixed');
        $('#dialogBox').css('top', 100);
    }

    function ft_di(titulo, cliente) {
        $.Dialog({
            'title': titulo,
            'content': '<img height="200" alt="Sin foto" src="../static/img/users/thumbnail_' + cliente + '" />',
            'buttons': {
                'Cerrar': {'action': function() {
                    }}
            }
        });
        $('#dialogBox').css('position', 'fixed');
        $('#dialogBox').css('top', 100);
    }

    function mark_emp(f, event, user) {
        event.preventDefault();
        if ({acceso} != 1) {
            alert('No tiene permisos suficientes');
            if ($(f).attr('checked') == 'checked') {
                $(f).removeAttr('checked');
            } else {
                $(f).attr('checked', 'checked');
            }
        } else {
            if ($(f).attr('checked') == 'checked') {
                $('#formIdClient').html(user);
                $('#inputIdClient').val(user);
                $('#warning').animate({'top': 0}, "slow", function() {
                });
            } else {
                var s = confirm("quiere dar de baja este empleado?");
                if (s) {
                    var uri = '/nymsa/cliente/borrar_empleado';
                    var ajax = $.post(uri, {id: user});
                    $(f).removeAttr('checked');
                } else {
                    $(f).attr('checked', 'checked');
                }
            }
        }
    }

    function cerrar_ventana(event) {
        event.preventDefault();
        $('#warning').animate({'top': -600}, 'slow', function() {
        });
        $('#c_' + $('#inputIdClient').val().trim()).removeAttr('checked');
    }
</script>
<section>
    <div class="metrouicss">
        <form style="width: 90%;">
            Filtro r&aacute;pido:
            <div class="input-control text"> 
                <input type="text" name="filtro"/>
                <button class="btn-search"></button>
            </div>
        </form>
    </div>
    <p>
        {paginacion}
    </p>

    <!--<a href="javascript:void(0);" onclick="upload('{primer_nombre} {segundo_nombre} [{codigo_afiliado}]', '{codigo_afiliado}');">
                <i class="icon-camera"></i> Actualizar foto 
    </a>
    -->
    <div class="listview">
        <!-- START clientes -->
        <input type="hidden" class="data_c" value="{codigo_afiliado}" />
        <a href="/nymsa/cliente/ficha?cliente={codigo_afiliado}" class="list selected">
            <div class="list-content">
                <img id="fc_{codigo_afiliado}" src="../static/img/users/thumbnail_{codigo_afiliado}" class="icon" alt="sin foto" />
                <div class="data">
                    <span class="list-title">{primer_nombre} {segundo_nombre} 
                {primer_apellido} {segundo_apellido}</span>
                    <span class="list-remark">Contacto: {telefono_casa} / {telefono_celular}</span>
                </div>
            </div>
        </a>
        <!-- END clientes -->
    </div>
</section>
<script>
    $(function() {
        $('#user_{hidden}').css('display', 'none');
    });
</script>