<script type="text/javascript" >

    var grid_demo_id = "color_grid";


    var dsOption = {
        fields: [
            {name: 'codigo_afiliado'},
            {name: 'codigo_promotor'},
            {name: 'dui'},
            {name: 'extendido_en'},
            {name: 'nacionalidad'},
            {name: 'primer_apellido'},
            {name: 'segundo_apellido'},
            {name: 'apellido_casada'},
            {name: 'primer_nombre'},
            {name: 'segundo_nombre'},
            {name: 'telefono_celular'},
            {name: 'telefono_oficina'},
            {name: 'telefono_casa'},
            {name: 'fecha_nacimiento'},
            {name: 'correo_electronico'},
            {name: 'direccion'},
            {name: 'departamento'},
            {name: 'municipio'},
            {name: 'zona'},
            {name: 'agente'},
            {name: 'dias_credito'},
            {name: 'transitorio'},
            {name: 'genero'},
            {name: 'estatus'},
            {name: 'nit'},
            {name: 'creidot_fiscal'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'codigo_afiliado', header: "Codigo afiliado", width: 80},
        {id: 'codigo_promotor', header: "Codigo promotor", width: 100, editor: {type: 'text'}},
        {id: 'dui', header: "Dui", width: 100, editor: {type: 'text'}},
        {id: 'extendido_en', header: "Extendido en", width: 100, editor: {type: 'text'}},
        {id: 'nacionalidad', header: "Nacionalidad", width: 100, editor: {type: 'text'}},
        {id: 'primer_apellido', header: "Primer apellido", width: 100, editor: {type: 'text'}},
        {id: 'segundo_apellido', header: "Segundo apellido", width: 100, editor: {type: 'text'}},
        {id: 'apellido_casada', header: "Apellido casada", width: 100, editor: {type: 'text'}},
        {id: 'primer_nombre', header: "Primer nombre", width: 100, editor: {type: 'text'}},
        {id: 'segundo_nombre', header: "Segundo nombre", width: 100, editor: {type: 'text'}},
        {id: 'telefono_celular', header: "Tel. movil", width: 100, editor: {type: 'text'}},
        {id: 'telefono_oficina', header: "Tel. oficina", width: 100, editor: {type: 'text'}},
        {id: 'telefono_casa', header: "Tel. casa", width: 100, editor: {type: 'text'}},
        {id: 'fecha_nacimiento', header: "Fecha de nacimiento", width: 100, editor: {type: 'text'}},
        {id: 'correo_electronico', header: "Correo electronico", width: 100, editor: {type: 'text'}},
        {id: 'direccion', header: "Direccion", width: 100, editor: {type: 'text'}},
        {id: 'departamento', header: "Departamento", width: 100, editor: {type: 'text'}},
        {id: 'municipio', header: "Municipio", width: 100, editor: {type: 'text'}},
        {id: 'zona', header: "Zona", width: 100, editor: {type: 'text'}},
        {id: 'agente', header: "Agente", width: 100, editor: {type: 'text'}},
        {id: 'dias_credito', header: "Dias credito", width: 100, editor: {type: 'text'}},
        {id: 'transitorio', header: "Transitorio", width: 100, editor: {type: 'text'}},
        {id: 'genero', header: "Genero", width: 100, editor: {type: 'text'}},
        {id: 'estatus', header: "Estatus", width: 100, editor: {type: 'text'}},
        {id: 'nit', header: "Nit", width: 100, editor: {type: 'text'}},
        {id: 'creidot_fiscal', header: "Credito fiscal", width: 100, editor: {type: 'text'}}
    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '/nymsa/inventario/cargar?tblname=cliente',
        saveURL: '/nymsa/inventario/actualizar?tblname=cliente',
        width: "100%", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | del save | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render()
    });
</script>

<div id="page-container">
    <div id="content">

    </div>
</div>