<section>
    <h1>Id cliente: {cliente}</h1>
    <form action="/nymsa/cliente/salvar_empleado" method="post">
        <p>
            <input type="hidden" value="{cliente}" name="id_datos" />
            Usuario: 
            <input type="text" name="usuario" id="usuario"/> 
            <br/><br/>
            Clave: 
            <span class="italic_p"> 
                la clave inicialmente es el nombre de usuario 
            </span> 
            <br/><br/>
            Departamento:
            <select name="departamento" id="departamento">
                <option value="contabilidad">Contabilidad</option>
                <option value="bodega">Bodega</option>
            </select>
            <br/><br/>
            Descuento: 
            <input type="text" id="descuento" name="descuento"/> 
            <span class="italic_p">porcentaje (%)</span>
            <br/>
            <br/>
            <input type="submit" value="Crear" class="boton" />
        </p>
    </form>
</section>
<style>
    .italic_p{
        font-style: italic;
    }

    form {
        font-size: 16px;
        margin-top: 30px;
    }
</style>