<section>
    <form method="post" action="/nymsa/cliente/salvar_referencia" style="width:300px;text-align:right;">
        Id (0 = nuevo)
        <input type="text" name="id" id="id_" value="0" onchange="cargar_referencia();" />
        <br/>
        <br/>
        Nombre
        <input type="text" name="nombre" id="nombre" required />
        <br/>
        <br/>
        Dirección
        <input type="text" name="direccion" id="direccion" required />
        <br/>
        <br/>
        Telefono
        <input type="text" name="telefono_1" id="telefono_1" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" required/>
        <br/>
        <br/>
        Celular
        <input type="text" name="movil_1" id="movil_1" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" required/>
        <br/>
        <br/>
        Celular alternativo
        <input type="text" name="movil_2" id="movil_2" onkeyup="mascara(this, '-', patron_telefono, true)" maxlength="9" />


        <input type="hidden" name="cliente" id="cliente" value="{id_cliente}" />
        <br/>
        <br/>
        <button type="submit" class="success">Guardar</button>
    </form>
</section>
<section>
    <!-- START referencias -->
    <table class="table striped bordered" style="text-align:center;">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Celular</th>
            <th>Celular alternativo</th>
        </tr>
        <tr>
            <td>{id}</td>
            <td>{nombre}</td>
            <td>{direccion}</td>
            <td>{telefono_1}</td>
            <td>{movil_1}</td>
            <td>{movil_2}</td>
        </tr>
    </table>
    <!-- END referencias -->
</section>
<script>
    var patron_dui = new Array(8, 1);
    var patron_nit = new Array(4, 6, 3, 1);
    var patron_telefono = new Array(4, 4);
    var patron_fecha = new Array(4, 2, 2);

    function mascara(d, sep, pat, nums) {
        if (d.valant != d.value) {
            val = d.value
            largo = val.length
            val = val.split(sep)
            val2 = ''
            for (r = 0; r < val.length; r++) {
                val2 += val[r]
            }
            if (nums) {
                for (z = 0; z < val2.length; z++) {
                    if (isNaN(val2.charAt(z))) {
                        letra = new RegExp(val2.charAt(z), "g")
                        val2 = val2.replace(letra, "")
                    }
                }
            }
            val = ''
            val3 = new Array()
            for (s = 0; s < pat.length; s++) {
                val3[s] = val2.substring(0, pat[s])
                val2 = val2.substr(pat[s])
            }
            for (q = 0; q < val3.length; q++) {
                if (q == 0) {
                    val = val3[q]
                }
                else {
                    if (val3[q] != "") {
                        val += sep + val3[q]
                    }
                }
            }
            d.value = val
            d.valant = val
        }
    }

    function cargar_referencia() {
        uri = "/nymsa/cliente/datos_referencia";
        data = {
            "id": $('#id_').val().trim()
        };

        rq = $.post(uri, data, function(d) {
            $('#nombre').val(d.nombre);
            $('#telefono_1').val(d.telefono_1);
            $('#direccion').val(d.direccion);
            $('#movil_1').val(d.movil_1);
            $('#movil_2').val(d.movil_2);
        }, "json");
    }
</script>