<section>
    <p style="font-size:20px;line-height:30px;">
        <!-- START resumen -->
        <br/><strong>Promotor:</strong> {codigo_promotor}
        <br/><strong>Dui:</strong> {dui}
        <br/><strong>Extendido en:</strong> {extendido_en}
        <br/><strong>Nacionalidad:</strong> {nacionalidad}
        <br/><strong>Nombre:</strong> {primer_nombre} {segundo_nombre} {primer_apellido} {segundo_apellido}
        <br/><strong>Celular:</strong> {telefono_celular}
        <br/><strong>Telefono oficina:</strong> {telefono_oficina}
        <br/><strong>Telefono casa:</strong> {telefono_casa}
        <br/><strong>Fecha de nacimiento:</strong> {fecha_nacimiento}
        <br/><strong>Correo electronico:</strong> {correo_electronico}
        <br/><strong>Direccion:</strong> {direccion}
        <br/><strong>Departamento:</strong> {departamento}
        <br/><strong>Municipio:</strong> {municipio}
        <br/><strong>Zona:</strong> {zona}
        <br/><strong>Agente:</strong> {agente}
        <br/><strong>Dias credito:</strong> {dias_credito}
        <br/><strong>Transitorio:</strong> {transitorio}
        <br/><strong>Genero:</strong> {genero}
        <br/><strong>Estatus:</strong> {estatus}
        <br/><strong>Nit:</strong> {nit}
        <br/><strong>Credito fiscal:</strong> {credito_fiscal}
        <br/><strong>Fecha alta:</strong> {fecha_alta}
        <br/><strong>Fecha baja:</strong> {fecha_baja}
        <br/><strong>Beneficiario:</strong> {beneficiario}
        <br/><strong>Cedula beneficiario:</strong> {cedula_beneficiario}
        <br/><strong>Telefono beneficiario:</strong> {telefono}
        <br/><strong>Vinculo familiar:</strong> {vinculo_familiar}
        <br/><strong>Lugar de trabajo:</strong> {lugar_trabajo}
        <br/><strong>Cargo:</strong> {cargo}
        <br/><strong>Direccion del trabajo:</strong> {direccion_trabajo}
        <br/><strong>Telefono 1:</strong> {telefono_celular_1}
        <br/><strong>Telefono 2:</strong> {telefono_calular_2}
        <br/><strong>Extension oficina:</strong> {extension_oficina}
        <br/><strong>Recibo de inscripcion:</strong> {numero_recibo_inscripcion}
        <br/><strong>Referida por:</strong> {referida_por}
        <br/><strong>Nombre del conyugue:</strong> {nombre_conyugue}
        <br/><strong>Lugar de trabajo del conyugue:</strong> {lugar_trabajo_conyugue}
        <br/><strong>Cargo del conyugue:</strong> {cargo_conyugue}
        <br/><strong>Direccion de trabajo del conyugue:</strong> {direccion_trabajo_conyugue}
        <br/><strong>Telefono de trabajo del conyugue:</strong> {telefono_trabajo_conyugue}
        <br/><strong>Telefono del conyugue:</strong> {telefono_conyugue}
        <br/><strong>Celular del conyugue:</strong> {celular_conyugue}
        <br/><strong>Direccion de envio:</strong> {direccion_envio}
        <br/><strong>referido por:</strong> {referido_por}
        <br/><strong>Descuento:</strong> {descuento}
        <!-- END resumen -->
    </p>
</section>