<h3>{TITULO}</h3>
<hr/>
<div class="toolbar transparent" style="text-align:right;padding-right:30px;">
    <button onclick="anular();"><i class="icon-cancel on-left"></i>Anular</button>
    <button onclick="cancelar();"><i class="icon-cancel-2 on-left"></i>Cancelar</button>
    <button onclick="abrir_busqueda();"><i class="icon-search on-left"></i>Buscar recibo</button>
</div>
Anulado<input type="checkbox" id="ckAnulado" />
<span id="message" style="color:#f00;"></span>
<div style="display:table;background:#F3F3F3;">
    <div style="width:300px;float:left;text-align:right;padding:15px;">
        Caja 
        <input type="text" id="caja" value="0" />
        <br/>
        Serie
        <input type="text" id="serie" />
        <br/>
        Numero
        <input type="text" id="numero" value="0" onchange="existe_recibo();" />
        <input type="hidden" id="referencia" value="0" />
        <br/>
        Fecha
        <input type="text" id="fecha" />
        <br/>
        Cliente
        <input type="text" id="id_cliente" value="0" onchange="cargar_cliente();" />
        <br/>
        Total Abono
        <input type="text" id="abono" value="0.0" />
        <br/>
    </div>
    <div style="float:left;width:300px;text-align:right;padding:15px;">
        Limite de credito
        <input type="text" id="credito" readonly="readonly" />
        <br/>
        Usado
        <input type="text" id="credito_usado" readonly="readonly" />
        <br/>
        Saldo
        <input type="text" id="disponible" readonly="readonly" />
        <br/>
        Monto extra
        <input type="text" id="monto_extra" readonly="readonly" />
        <br/>
        Nombre
        <input type="text" id="nombre" readonly="readonly" />
    </div>
    <div style="float:left;width:350px;text-align:left;padding:15px;">

        <input type="checkbox" id="bloqueado" disabled="disabled" />
        Bloqueado

        <br/>
        <input type="checkbox" id="tcredito" disabled="disabled" />
        Credito
        <br/>

        <input type="checkbox" id="extra_credito" disabled="disabled" />
        Financiamiento extra

        <input type="checkbox" id="transitorio" disabled="disabled" />
        Transitorio
        <br/>

        <input type="checkbox" id="empleado" disabled="disabled" />
        Empleado
        <br/>
        <table>
            <tr>
                <td><input type="text" id="telefono_celular" style="width:100px;" readonly="readonly" /></td>
                <td><input type="text" id="telefono_oficina" style="width:100px;" readonly="readonly" /></td>
                <td><input type="text" id="telefono_casa" style="width:100px;" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Tel celular</td>
                <td>Tel oficina</td>
                <td>Tel casa</td>
            </tr>
        </table>
    </div>
</div>
<div id="bigbox" style="margin:15px;display:!none;">
    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

    </div>
</div>

<div id="busquedaRecibo" style="background:#fff;width:100%;height:100%;position:fixed;top:0px;left:0px;z-index:10000000;padding:40px;display:none;">
    <h3>Búsqueda de recibos</h3>
    <div id="bigbox2" style="margin:15px;display:!none;">
        <div id="gridbox2" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

        </div>
    </div>
    <br/>
    <br/>
    <button onclick="cerrar_busqueda();" >Cancelar</button>
    <div>
        <script>
            var grid_demo2_id = "busqueda_grid";


            var dsOption2 = {
                fields: [
                    {name: 'id'},
                    {name: 'caja'},
                    {name: 'serie'},
                    {name: 'fecha'},
                    {name: 'cliente'},
                    {name: 'nombre_cliente'},
                    {name: 'abono'},
                    {name: 'referencia'}
                ],
                recordType: 'object'
            }


            function seleccionar_render(value, record, columnObj, grid, colNo, rowNo) {
                caja = record['caja'];
                serie = record['serie'];
                id = record['id'];
                return '<a href="javascript:void(0);" onclick="seleccion(' + caja + ',\'' + serie + '\',' + id + ');">Seleccionar</a>'
            }


            var colsOption2 = [
                {id: 'id', header: "# recibo", width: 100},
                {id: 'caja', header: "Caja", width: 100},
                {id: 'serie', header: "Serie", width: 70},
                {id: 'fecha', header: "Emision", width: 120},
                {id: 'nombre_cliente', header: "cliente", width: 100},
                {id: 'abono', header: "Abono", width: 80},
                {id: 'acciones', header: "Acciones", width: 80, renderer: seleccionar_render}

            ];


            var gridOption2 = {
                id: grid_demo2_id,
                loadURL: '/nymsa/credito/cargar_recibos',
                saveURL: '',
                width: "100%", //"100%", // 700,
                height: "260", //"100%", // 330,
                container: 'gridbox2',
                replaceContainer: true,
                encoding: 'UTF-8', // Sigma.$encoding(), 
                dataset: dsOption2,
                columns: colsOption2,
                clickStartEdit: true,
                defaultRecord: {'id': "00", 'nombre': ""},
                pageSize: 30,
                toolbarContent: 'reload | filter | nav'
            };


            var mygrid2 = new Sigma.Grid(gridOption2);
            Sigma.Util.onLoad(function() {
                mygrid2.render();
            });
        </script>
        <script>
            var grid_demo_id = "solicitud_grid";


            var dsOption = {
                fields: [
                    {name: 'tipo'},
                    {name: 'id'},
                    {name: 'caja'},
                    {name: 'serie'},
                    {name: 'fecha'},
                    {name: 'fecha_vence'},
                    {name: 'saldo'},
                    {name: 'cobro'},
                    {name: 'total'}
                ],
                recordType: 'object'
            }

            /*
             function costo_render(value ,record,columnObj,grid,colNo,rowNo){
             return 
             }*/


            var colsOption = [
                {id: 'tipo', header: "Tipo", width: 100},
                {id: 'id', header: "Numero", width: 100},
                {id: 'caja', header: "Caja", width: 120},
                {id: 'serie', header: "Serie", width: 100},
                {id: 'fecha', header: "Emision", width: 120},
                {id: 'fecha_vence', header: "Vence", width: 100},
                {id: 'total', header: "Monto", width: 80},
                {id: 'saldo', header: "Saldo", width: 80},
                {id: 'cobro', header: "Cobro", width: 80},
                {id: 'total', header: "Total", width: 120}

            ];


            var gridOption = {
                id: grid_demo_id,
                loadURL: '',
                saveURL: '',
                width: "100%", //"100%", // 700,
                height: "260", //"100%", // 330,
                container: 'gridbox',
                replaceContainer: true,
                encoding: 'UTF-8', // Sigma.$encoding(), 
                dataset: dsOption,
                columns: colsOption,
                clickStartEdit: true,
                defaultRecord: {'id': "00", 'nombre': ""},
                pageSize: 30,
                toolbarContent: 'reload | filter | nav'
            };


            var mygrid = new Sigma.Grid(gridOption);
            Sigma.Util.onLoad(function() {
                mygrid.render();
            });
        </script>
        <script>

            $(document).ready(function() {
                window.anulable = false;
                window.anulado = false;
            });

            function cargar_cliente() {

                if ($('#id_cliente').val().trim() != "") {
                    uri = "/nymsa/cliente/datos_credito";

                    data = {
                        "cliente": $('#id_cliente').val().trim()
                    };

                    v = $.post(uri, data, function(d) {

                        $('#telefono_celular').val(d.telefono_celular);
                        $('#telefono_oficina').val(d.telefono_oficina);
                        $('#telefono_casa').val(d.telefono_casa);
                        $('#credito').val(d.credito);
                        $('#nombre').val(d.nombre);
                        $('#credito_usado').val(d.credito_usado);
                        $('#disponible').val(parseFloat(d.credito - d.credito_usado).toFixed(2));
                        $('#monto_extra').val(d.monto_extra);

                        if (d.empleado == 1)
                            $('#empleado').attr("checked", true);
                        else
                            $('#empleado').removeAttr("checked");
                        if (d.tcredito == 1)
                            $('#tcredito').attr("checked", true);
                        else
                            $('#tcredito').removeAttr("checked");
                        if (d.transitorio == 1)
                            $('#transitorio').attr("checked", true);
                        else
                            $('#transitorio').removeAttr("checked");
                        if (d.bloqueado == 1)
                            $('#bloqueado').attr("checked", true);
                        else
                            $('#bloqueado').removeAttr("checked");
                        if (d.extra_credito == 1)
                            $('#extra_credito').attr("checked", true);
                        else
                            $('#extra_credito').removeAttr("checked");

                    }, "json");

                    var grid = Sigma.$grid("solicitud_grid");
                    grid.loadURL = '/nymsa/credito/cargar_cobros_hechos/' + $('#id_cliente').val().trim();
                    grid.reload();
                }
            }

            function abrir_busqueda() {
                $('#busquedaRecibo').css('display', 'block');
            }

            function cerrar_busqueda() {
                $('#busquedaRecibo').css('display', 'none');
            }

            function seleccion(caja, serie, id) {
                $('#caja').val(caja);
                $('#serie').val(serie);
                $('#numero').val(id);
                cerrar_busqueda();
                $('#numero').change();
            }

            function existe_recibo() {
                caja = $('#caja').val();
                serie = $('#serie').val();
                numero = $('#numero').val();

                data = {
                    "caja": caja,
                    "serie": serie,
                    "numero": numero
                };

                uri = "/nymsa/credito/recibo_valido";

                res = $.post(uri, data, function(d) {

                    if (d.existe) {
                        $('#message').html("Existe!");
                        window.anulable = true;
                        window.anulado = d.anulado;
                        if (d.anulado) {
                            $('#ckAnulado').attr("checked", "checked");
                        } else {
                            $('#ckAnulado').removeAttr("checked");
                        }
                        $('#fecha').val(d.fecha);
                        $('#id_cliente').val(d.cliente);
                        $('#abono').val(d.abono);
                        $('#referencia').val(d.referencia);
                        $('#caja').attr("disabled", "disabled");
                        $('#serie').attr("disabled", "disabled");
                        $('#numero').attr("disabled", "disabled");
                        $('#fecha').attr("disabled", "disabled");
                        $('#id_cliente').attr("disabled", "disabled");
                        $('#abono').attr("disabled", "disabled");
                        $('#id_cliente').change();
                    } else {
                        window.anulable = false;
                        window.anulado = false;
                        $('#ckAnulado').removeAttr("checked");
                        $('#message').html("No existe!");
                    }

                }, "json");
            }

            function cancelar() {
                $('#message').html("");
                $('#caja').val("0");
                $('#serie').val("");
                $('#numero').val("0");
                $('#fecha').val("");
                $('#id_cliente').val("0");
                $('#abono').val("0.0");
                $('#caja').removeAttr("disabled");
                $('#serie').removeAttr("disabled");
                $('#numero').removeAttr("disabled");
                $('#fecha').removeAttr("disabled");
                $('#id_cliente').removeAttr("disabled");
                $('#abono').removeAttr("disabled");
                $('#id_cliente').change();
                window.anulable = false;
                window.anulado = false;
                $('#ckAnulado').removeAttr("checked");
            }

            function anular() {
                if (window.anulable) {
                    if (!window.anulado) {
                        if (confirm("Esta seguro?")) {
                            referencia = $('#referencia').val();
                            location.href = "/nymsa/credito/anulacion_recibo/" + referencia;
                        }
                    } else {
                        alert("ya se ha anulado");
                    }
                } else {
                    alert("Error: No se puede procesar");
                }
            }

        </script>