<style>
    #tbls *{
        margin-bottom:10px;
    }

    #actt *{
        margin: 3px;
    }
</style>

<h3>Cobros</h3>

<div class="toolbar transparent" style="text-align:right;padding-right:30px;">
    <button onclick="guardar_recibo();"><i class="icon-floppy on-left"></i>Guardar</button>
    <h6>Ultimo generado: <span id="NoRecibo">{ultimo_generado}</span></h6>
</div>

<section>

	<div style="text-align: right;padding-right: 30px;">
		Aplicado 
        <input type="checkbox" id="ckAplicado" disabled="disabled" />
		<br/>
		
        Priorizar interés 
        <input type="checkbox" id="prioridad_interes" />
        <br/>
    </div>

	<div style="display:table;background:#F3F3F3;" id="tbls">
        <div style="float:left;width:200px;text-align:right;padding:15px;">
            Caja
            <select id="caja" disabled="disabled" style="text-align:center;width:90px;">

                <option>
                    {nombre_caja}
                </option>

            </select>
            <br/>
            Serie
            <select id="serie" disabled="disabled" style="text-align:center;width:90px;">
                <option>{codigo_recibo}</option>
            </select>
            <br/>
            # Doc
            <input type="text" id="ott" value="0" style="text-align:center;width:90px;" onchange="cliente_recibo();" />
            <input type="hidden" id="id_recibo" value="0" style="text-align:center;width:90px;" />
            <br/>
            Fecha
            <input type="text" id="fecha" value="{fecha}" style="text-align:center;width:90px;" />
            <br/>
            Cliente
            <input type="text" id="id_cliente" style="text-align:center;width:90px;" onchange="generar_recibo();cargar_cliente();" />
            <br/>
        </div>
        <div style="float:left;width:300px;text-align:right;padding:15px;">
            Limite de credito
            <input type="text" id="credito" readonly="readonly" />
            <br/>
            Usado
            <input type="text" id="credito_usado" readonly="readonly" />
            <br/>
            Saldo
            <input type="text" id="disponible" readonly="readonly" />
            <br/>
            Monto extra
            <input type="text" id="monto_extra" readonly="readonly" />
            <br/>
            Nombre
            <input type="text" id="nombre" readonly="readonly" />
            <br/>
        </div>
        <div style="float:left;width:350px;text-align:left;padding:15px;">

            <input type="checkbox" id="bloqueado" disabled="disabled" />
            Bloqueado

            <br/>
            <input type="checkbox" id="tcredito" disabled="disabled" />
            Credito
            <br/>

            <input type="checkbox" id="extra_credito" disabled="disabled" />
            Financiamiento extra
            <br/>

            <input type="checkbox" id="transitorio" disabled="disabled" />
            Transitorio
            <br/>

            <input type="checkbox" id="empleado" disabled="disabled" />
            Empleado
            <br/>
            <table style="background: #d3d3d3;">
                <tr>
                    <td><input type="text" id="telefono_celular" style="width:100px;" readonly="readonly" /></td>
                    <td><input type="text" id="telefono_oficina" style="width:100px;" readonly="readonly" /></td>
                    <td><input type="text" id="telefono_casa" style="width:100px;" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td>Tel celular</td>
                    <td>Tel oficina</td>
                    <td>Tel casa</td>
                </tr>
            </table>
        </div>
    </div>

    <br/>
    <br/>
</section>
<div style="text-align: right;padding-right: 30px; width:880px;">
    <div id="actt" style="background:#f3f3f3;padding: 10px;">
        Concepto 
        <input type="text" id="concepto"/>
        <br/> 
            
        Cuanto desea abonar? <input type="text" id="abono" /> 
        <br/>
        <button id="btnAplicar" type="button" onclick="aplicar_abono();" disabled="disabled">Aplicar</button>
    </div>
</div>
<p>
    <br/>
</p>
<h5>Estado de facturas e intereses</h5>

<div id="bigbox" style="margin:15px;display:!none;width: 800px;float: left;">
    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

    </div>
</div>

<div style="width: 200px; text-align: right; float: left; margin-top: 30px;">
    Total abonado 
    <input type="text" id="total_abonado" readonly="readonly" style="width:100px;" />
    <br/>
    <br/>
    Pendiente   
    <input type="text" id="total_pendiente" readonly="readonly" style="width:100px;" />
    <br/>
</div>

<script>

    var grid_demo_id = "solicitud_grid";
    var dsOption = {
        fields: [
            {name: 'tipo'},
            {name: 'id'},
            {name: 'caja'},
            {name: 'serie'},
            {name: 'fecha'},
            {name: 'fecha_vence'},
            {name: 'saldo'},
            {name: 'cobro'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

    /*
     function costo_render(value ,record,columnObj,grid,colNo,rowNo){
     return 
     }*/


    var colsOption = [
        {id: 'nodoc', header: "Numero", width: 100},
        {id: 'caja', header: "Caja", width: 120},
        {id: 'serie', header: "Serie", width: 100},
        {id: 'fedoc', header: "Emision", width: 120},
        {id: 'vence', header: "Vence", width: 100},
        {id: 'monto', header: "Monto", width: 80},
        {id: 'saldo', header: "Saldo", width: 80},
        {id: 'abonos', header: "Abono", width: 80}

    ];
    var gridOption = {
        id: grid_demo_id,
        loadURL: '',
        saveURL: '',
        width: "785", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 30,
        toolbarContent: 'reload | filter | nav'
    };
    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });
	
	
    function aplicar_abono() {
        if ($('#concepto').val().trim() == "") {
            alert("Especifique un concepto");
        } else {

            uri = "/nymsa/credito/abonar";
            recibo   = $('#id_recibo').val().trim();
            abono    = $('#abono').val().trim();
            concepto = $('#concepto').val().trim();
            interes  = $('#prioridad_interes').attr("checked") != undefined;
            data = {
                "id_recibo": recibo,
                "abono": abono,
                "concepto": concepto,
                "interes": interes,
                "caja"  : {id_caja}
            };

            request = $.post(uri, data, function(d) {
                var grid = Sigma.$grid("solicitud_grid");
                grid.reload();
                cargar_saldo();
                $('#abono').val("");
                $('#concepto').val("");
            }, "json");
        }
    }

    function cargar_cliente() {

        if ($('#id_cliente').val().trim() != "") {
            uri = "/nymsa/cliente/datos_credito";
            data = {
                "cliente": $('#id_cliente').val().trim()
            };
            v = $.post(uri, data, function(d) {

                $('#telefono_celular').val(d.telefono_celular);
                $('#telefono_oficina').val(d.telefono_oficina);
                $('#telefono_casa').val(d.telefono_casa);
                $('#credito').val(d.credito);
                $('#nombre').val(d.nombre);
                $('#credito_usado').val(d.credito_usado);
                $('#disponible').val(parseFloat(d.credito - d.credito_usado).toFixed(2));
                $('#monto_extra').val(d.monto_extra);
                if (d.empleado == 1)
                    $('#empleado').attr("checked", true);
                else
                    $('#empleado').removeAttr("checked");
                if (d.tcredito == 1)
                    $('#tcredito').attr("checked", true);
                else
                    $('#tcredito').removeAttr("checked");
                if (d.transitorio == 1)
                    $('#transitorio').attr("checked", true);
                else
                    $('#transitorio').removeAttr("checked");
                if (d.bloqueado == 1)
                    $('#bloqueado').attr("checked", true);
                else
                    $('#bloqueado').removeAttr("checked");
                if (d.extra_credito == 1)
                    $('#extra_credito').attr("checked", true);
                else
                    $('#extra_credito').removeAttr("checked");
            }, "json");
            var grid = Sigma.$grid("solicitud_grid");
            grid.loadURL = '/nymsa/credito/cargar_cobros/' + $('#id_cliente').val().trim();
            grid.reload();
        }
    }

    function cliente_recibo() {
        uri = "/nymsa/credito/cliente_recibo";
        
        data = {
            "id": $('#ott').val().trim(),
            "caja":{id_caja}
        };
        
        res = $.post(uri, data, function(d) {
            $('#id_cliente').val(d.cliente);
            $('#id_recibo').val(d.referencia);
            $('#id_cliente').change();
        }, "json");
    }

    function cargar_saldo() {
        uri = "/nymsa/credito/cargar_saldo";
        data = {"id": $('#id_recibo').val().trim()};
        res = $.post(uri, data, function(d) {
            $('#total_pendiente').val(d.saldo);
            $('#total_abonado').val(d.total - d.saldo);
        }, "json");
    }

    function generar_recibo() {
        cliente = $('#id_cliente').val().trim();
        recibo = $('#ott').val().trim();
        codigo = "{codigo_recibo}";
        serie = {serie_recibo};
        fecha = $('#fecha').val().trim();
        caja = {id_caja};
        uri = "/nymsa/credito/inicializar_recibo";
        data = {
            "serie_recibo": serie,
            "codigo_recibo": codigo,
            "caja": caja,
            "cliente": cliente,
            "fecha": fecha,
            "id": recibo
        };
        res = $.post(uri, data, function(d) {
            if (d != null) {
                $('#id_recibo').val(d.referencia);
                $('#ott').val(d.muestra);
                $('#ott').attr('disabled', 'disabled');
                $('#fecha').val(d.fecha);
                $('#fecha').attr('disabled', 'disabled');
                $('#id_cliente').val(d.cliente);
                $('#id_cliente').attr('disabled', 'disabled');
                if (d.aplicado != 1) {
                    $('#btnAplicar').removeAttr('disabled');
                    window.aplicado = false;
                } else {
                    $('#ckAplicado').attr("checked", "checked");
                    window.aplicado = true;
                }
                window.guardar = true;
                cargar_saldo();
            }
        }, "json");
    }

    function guardar_recibo() {

        if (window.guardar) {
            if (!window.aplicado) {
                if (confirm("Esta seguro?")) {
                    uri = "/nymsa/credito/guardar_recibo/" + $('#id_recibo').val().trim();
                    location.href = uri;
                }
            } else {
                alert("Ya se ha aplicado");
            }
        } else {
            alert("Nada que procesar");
        }
    }

</script>