<style type="text/css">
    .tool-panel
    {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

        padding: 30px;
        margin: 20px;

    }
</style>
<section>
    <div class="tool-panel">
        <h2>Mantenimientos <i class="icon-tools"></i> </h2>
        <span style="font-size:16px;"><a href="/nymsa/credito/mantenimiento">Mantenimientos a creditos</a></span>
        <br/>
        <span style="font-size:16px;"><a href="/nymsa/credito/cobros">Cobros</a></span>
        <br/>
        <span style="font-size:16px;"><a href="/nymsa/credito/notas_de_credito">Notas de credito</a></span>
        <br/>
        <span style="font-size:16px;"><a href="/nymsa/credito/anular_recibos">Anular recibo</a></span>
        <br/>
        <span style="font-size:16px;"><a href="/nymsa/credito/anular_nota_credito" style="display:none;">Anular nota de credito</a></span>
    </div>
</section>