
<style>
    #tbls *{
        margin-bottom:10px;
    }
</style>
<h3>Matenimiento a créditos</h3>

<section>
    <div style="display:table;background:#F3F3F3;float:left;margin: 20px;" id="tbls">
        <div style="float:left;width:300px;text-align:right;padding: 15px;">
            <h5>Solicitud</h5>
            # Solicitud
            <input type="text" id="id_solicitud" value="0" style="text-align:center;"/>
            <br/>
            
            Fecha solicitud
            <input type="text" id="fecha" value="{fecha}" style="text-align:center;"/>
            <br/>
            
            Codigo cliente
            <input type="text" style="text-align:center;" id="id_cliente" onchange="cargar_cliente();" />
            <br/>
            
            Transacción
            <select id="tipo_solicitud">
                <!-- START tipo_solicitud -->
                <option value="{id}">{nombre}</option>
                <!-- END tipo_solicitud -->
            </select>
            <br/>
            
            Monto solicitado
            <input type="text" id="monto" value="0.0" style="text-align:center;"/>
            <br/>
            
            Nombre
            <input type="text" id="nombre" readonly="readonly" />
            <br/>
        </div>

        <div style="float:left;width:300px;text-align:right;padding: 15px;">
            Inicia
            <input type="text" id="inicia" value="{fecha}" style="text-align:center;"/>
            <br/>
            
            Descripcion
            <input type="text" id="descripcion" style="text-align:center;"/>
            <br/>
            
            Observaciones
            <textarea id="observacion" onblur="generar_solicitud();" ></textarea>
        </div>

    </div>

    <div style="width:400px;text-align:right;background:#F3F3F3;padding:15px;float:left;margin: 20px;">
        <h5>Datos del cliente</h5>
        Limite de credito
        <input type="text" id="credito" readonly="readonly" />
        <br/>
        Usado
        <input type="text" id="credito_usado" readonly="readonly" />
        <br/>
        Saldo
        <input type="text" id="disponible" readonly="readonly" />
        <br/>
        Monto extra
        <input type="text" id="monto_extra" readonly="readonly" />
        <br/>
        Bloqueado
        <input type="checkbox" id="bloqueado" disabled="disabled" />
        <br/>
        Credito
        <input type="checkbox" id="tcredito" disabled="disabled" />
        <br/>
        Financiamiento extra
        <input type="checkbox" id="extra_credito" disabled="disabled" />
        <br/>
        Transitorio
        <input type="checkbox" id="transitorio" disabled="disabled" />
        <br/>
        Empleado
        <input type="checkbox" id="empleado" disabled="disabled" />
        <br/>
        <br/>
        <table>
            <tr>
                <td><input type="text" id="telefono_celular" style="width:100px;" readonly="readonly" /></td>
                <td><input type="text" id="telefono_oficina" style="width:100px;" readonly="readonly" /></td>
                <td><input type="text" id="telefono_casa" style="width:100px;" readonly="readonly" /></td>
            </tr>
            <tr>
                <td>Tel celular</td>
                <td>Tel oficina</td>
                <td>Tel casa</td>
            </tr>
        </table>
    </div>
<div style="clear:both;"></div>
</section>
<div style="clear:both;"></div>
<h5>Historial de solicitudes del cliente</h5>
<div id="bigbox" style="margin:15px;display:!none;">
    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >
    </div>
</div>
<script>

    var grid_demo_id = "solicitud_grid";


    var dsOption = {
        fields: [
            {name: 'id'},
            {name: 'fecha'},
            {name: 'string_tipo'},
            {name: 'monto'},
            {name: 'inicio'},
            {name: 'fin'},
            {name: 'descripcion'},
            {name: 'observacion'}
        ],
        recordType: 'object'
    }

    var colsOption = [
        {id: 'id', header: "Id", width: 80},
        {id: 'fecha', header: "Fecha", width: 100},
        {id: 'string_tipo', header: "Tipo", width: 100},
        {id: 'monto', header: "Monto", width: 100},
        {id: 'inicio', header: "F. Inicio", width: 100},
        {id: 'fin', header: "F. fin", width: 100},
        {id: 'descripcion', header: "Descripcion", width: 200},
        {id: 'observacion', header: "Observacion", width: 200}

    ];


    var gridOption = {
        id: grid_demo_id,
        loadURL: '',
        saveURL: '',
        width: "980", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 10,
        toolbarContent: 'reload | filter | nav state'
    };


    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });

    function cargar_cliente() {

        uri = "/nymsa/cliente/datos_credito";

        data = {
            "cliente": $('#id_cliente').val().trim()
        };

        v = $.post(uri, data, function(d) {

            $('#telefono_celular').val(d.telefono_celular);
            $('#telefono_oficina').val(d.telefono_oficina);
            $('#telefono_casa').val(d.telefono_casa);
            $('#credito').val(d.credito);
            $('#nombre').val(d.nombre);
            $('#credito_usado').val(d.credito_usado);
            $('#disponible').val(parseFloat(d.credito - d.credito_usado).toFixed(2));
            $('#monto_extra').val(d.monto_extra);

            if (d.empleado == 1)
                $('#empleado').attr("checked", true);
            else
                $('#empleado').removeAttr("checked");
            if (d.tcredito == 1)
                $('#tcredito').attr("checked", true);
            else
                $('#tcredito').removeAttr("checked");
            if (d.transitorio == 1)
                $('#transitorio').attr("checked", true);
            else
                $('#transitorio').removeAttr("checked");
            if (d.bloqueado == 1)
                $('#bloqueado').attr("checked", true);
            else
                $('#bloqueado').removeAttr("checked");
            if (d.extra_credito == 1)
                $('#extra_credito').attr("checked", true);
            else
                $('#extra_credito').removeAttr("checked");

        }, "json");

        var grid = Sigma.$grid("solicitud_grid");
        grid.loadURL = '/nymsa/inventario/cargar_cfd?tblname=solicitud&field=cliente&value=' + $('#id_cliente').val().trim();
        grid.reload();
    }

    function generar_solicitud() {
        id_solicitud = $('#id_solicitud').val().trim();
        fecha = $('#fecha').val().trim();
        tipo_solicitud = $('#tipo_solicitud').val();
        monto = $('#monto').val().trim();
        inicia = $('#inicia').val().trim();
        string_tipo = $("#tipo_solicitud option:selected").html();
        codigo_afiliado = $('#id_cliente').val().trim();
        descripcion = $('#descripcion').val().trim();
        observacion = $('#observacion').text();
        if (isNaN(codigo_afiliado) || codigo_afiliado == "")
        {
            $('#id_cliente').val("");
            $('#id_cliente').focus();
        } else {
            if (descripcion == "") {
                $('#descripcion').focus();
            } else {

                /* Generar solicitud */
                uri = '/nymsa/credito/generar_solicitud';
                codigo_afiliado = codigo_afiliado * 1;
                tipo_solicitud = tipo_solicitud * 1;
                data = {
                    "id": id_solicitud,
                    "fecha": fecha,
                    "cliente": codigo_afiliado,
                    "tipo_solicitud": tipo_solicitud,
                    "string_tipo": string_tipo,
                    "monto": monto,
                    "inicio": inicia,
                    "descripcion": descripcion,
                    "observacion": observacion
                };

                if (tipo_solicitud == 5 || tipo_solicitud == 6 || tipo_solicitud == 7) {
                    c = $.post(uri, data, function(d) {
                        var grid = Sigma.$grid("solicitud_grid");
                        grid.reload();
                        alert(d.message);
                        $('#id_cliente').change();
                    }, "json");
                } else {
                    if (isNaN(monto))
                    {
                        $('#monto').val("0.0");
                        $('#monto').focus();
                    } else {
                        monto = monto * 1;
                        if (monto > 0) {
                            c = $.post(uri, data, function(d) {
                                var grid = Sigma.$grid("solicitud_grid");
                                grid.reload();
                                alert(d.message);
                                $('#id_cliente').change();
                            }, "json");
                        } else {
                            $('#monto').val("0.0");
                            $('#monto').focus();
                        }
                    }
                }


            }
        }
    }

</script>