<style>
    #tbls *{
        margin-bottom:10px;
    }
</style>
<div class="toolbar transparent" style="text-align:right;padding-right:30px;">
    <button onclick="guardar_nota();"><i class="icon-floppy on-left"></i>Guardar</button>
    <h6>Ultimo generado: <span id="NoRecibo">{ultimo_generado}</span></h6>
</div>
<section>
    Aplicado <input type="checkbox" id="ckAplicado" disabled="disabled" />
    <br/>
    Priorizar interes <input type="checkbox" id="prioridad_interes" />
    <div style="display:table;background:#F3F3F3;margin: 0 auto;" id="tbls">
        <div style="float:left;width:200px;text-align:right;padding:15px;">
            Caja
            <select id="caja" disabled="disabled">

                <option>
                    {nombre_caja}
                </option>

            </select>
            <br/>
            Serie
            <select id="serie" disabled="disabled">
                <option>{codigo_nota_credito}</option>
            </select>
            <br/>
            Numero
            <input type="text" id="ott" value="0" style="text-align:center;width:90px;" onchange="cliente_nota_credito();" />
            <input type="hidden" id="id_nota_credito" value="0" style="text-align:center;width:90px;"  />
            <br/>
            Fecha
            <input type="text" id="fecha" value="{fecha}" style="text-align:center;width:90px;" />
            <br/>
            Cliente
            <input type="text" id="id_cliente" style="text-align:center;width:90px;" onblur="generar_nota_credito();
                    cargar_cliente();" />
            <br/>
        </div>
        <div style="float:left;width:300px;text-align:right;padding:15px;">
            Limite de credito
            <input type="text" id="credito" readonly="readonly" />
            <br/>
            Usado
            <input type="text" id="credito_usado" readonly="readonly" />
            <br/>
            Saldo
            <input type="text" id="disponible" readonly="readonly" />
            <br/>
            Monto extra
            <input type="text" id="monto_extra" readonly="readonly" />
            <br/>
            Nombre
            <input type="text" id="nombre" readonly="readonly" />
        </div>
        <div style="float:left;width:350px;text-align:left;padding:15px;">

            <input type="checkbox" id="bloqueado" disabled="disabled" />
            Bloqueado

            <br/>
            <input type="checkbox" id="tcredito" disabled="disabled" />
            Credito
            <br/>

            <input type="checkbox" id="extra_credito" disabled="disabled" />
            Financiamiento extra

            <input type="checkbox" id="transitorio" disabled="disabled" />
            Transitorio
            <br/>

            <input type="checkbox" id="empleado" disabled="disabled" />
            Empleado
            <br/>
            <table>
                <tr>
                    <td><input type="text" id="telefono_celular" style="width:100px;" readonly="readonly" /></td>
                    <td><input type="text" id="telefono_oficina" style="width:100px;" readonly="readonly" /></td>
                    <td><input type="text" id="telefono_casa" style="width:100px;" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td>Tel celular</td>
                    <td>Tel oficina</td>
                    <td>Tel casa</td>
                </tr>
            </table>
        </div>
        <br/>
        &nbsp;&nbsp;&nbsp;&nbsp; Concepto <input type="text" id="concepto" style="width:40%;" /> 
        Cuanto desea abonar? <input type="text" id="abono" /> <button id="btnAplicar" type="button" onclick="aplicar_abono();" disabled="disabled">Aplicar</button>
    </div>
    <br/>
    <br/>
    Total abonado <input type="text" id="total_abonado" readonly="readonly" style="width:100px;" />
    Pendiente   <input type="text" id="total_pendiente" readonly="readonly" style="width:100px;" />
</section>
<div id="bigbox" style="margin:15px;display:!none;">
    <div id="gridbox" style="border:0px solid #cccccc;background-color:#f3f3f3;padding:5px;height:200px;width:700px;" >

    </div>
</div>
<script>

    $(document).ready(function() {
        $('#caja').change();
        window.guardar = false;
        window.aplicado = false;
    });
    var grid_demo_id = "solicitud_grid";
    var dsOption = {
        fields: [
            {name: 'tipo'},
            {name: 'id'},
            {name: 'caja'},
            {name: 'serie'},
            {name: 'fecha'},
            {name: 'fecha_vence'},
            {name: 'saldo'},
            {name: 'cobro'},
            {name: 'total'}
        ],
        recordType: 'object'
    }

    /*
     function costo_render(value ,record,columnObj,grid,colNo,rowNo){
     return 
     }*/


    var colsOption = [
        {id: 'tipo', header: "Tipo", width: 100},
        {id: 'id', header: "Numero", width: 100},
        {id: 'caja', header: "Caja", width: 120},
        {id: 'serie', header: "Serie", width: 100},
        {id: 'fecha', header: "Emision", width: 120},
        {id: 'fecha_vence', header: "Vence", width: 100},
        {id: 'total', header: "Monto", width: 80},
        {id: 'saldo', header: "Saldo", width: 80},
        {id: 'cobro', header: "Cobro", width: 80},
        {id: 'total', header: "Total", width: 120}

    ];
    var gridOption = {
        id: grid_demo_id,
        loadURL: '',
        saveURL: '',
        width: "100%", //"100%", // 700,
        height: "260", //"100%", // 330,
        container: 'gridbox',
        replaceContainer: true,
        encoding: 'UTF-8', // Sigma.$encoding(), 
        dataset: dsOption,
        columns: colsOption,
        clickStartEdit: true,
        defaultRecord: {'id': "00", 'nombre': ""},
        pageSize: 30,
        toolbarContent: 'reload | filter | nav'
    };
    var mygrid = new Sigma.Grid(gridOption);
    Sigma.Util.onLoad(function() {
        mygrid.render();
    });
    function aplicar_abono() {
        if ($('#concepto').val().trim() == "") {
            alert("Especifique un concepto");
        } else {

            uri = "/nymsa/credito/abonar_con_nota";
            nota_credito = $('#id_nota_credito').val().trim();
            abono = $('#abono').val().trim();
            concepto = $('#concepto').val().trim();
            interes = $('#prioridad_interes').attr("checked") != undefined;
            data = {
                "id_nota_credito": nota_credito,
                "abono": abono,
                "concepto": concepto,
                "interes": interes
            };
            reques = $.post(uri, data, function(d) {
                var grid = Sigma.$grid("solicitud_grid");
                grid.reload();
                cargar_saldo();
                $('#abono').val("");
                $('#concepto').val("");
            }, "json");
        }
    }

    function cargar_cliente() {

        if ($('#id_cliente').val().trim() != "") {
            uri = "/nymsa/cliente/datos_credito";
            data = {
                "cliente": $('#id_cliente').val().trim()
            };
            v = $.post(uri, data, function(d) {

                $('#telefono_celular').val(d.telefono_celular);
                $('#telefono_oficina').val(d.telefono_oficina);
                $('#telefono_casa').val(d.telefono_casa);
                $('#credito').val(d.credito);
                $('#nombre').val(d.nombre);
                $('#credito_usado').val(d.credito_usado);
                $('#disponible').val(parseFloat(d.credito - d.credito_usado).toFixed(2));
                $('#monto_extra').val(d.monto_extra);
                if (d.empleado == 1)
                    $('#empleado').attr("checked", true);
                else
                    $('#empleado').removeAttr("checked");
                if (d.tcredito == 1)
                    $('#tcredito').attr("checked", true);
                else
                    $('#tcredito').removeAttr("checked");
                if (d.transitorio == 1)
                    $('#transitorio').attr("checked", true);
                else
                    $('#transitorio').removeAttr("checked");
                if (d.bloqueado == 1)
                    $('#bloqueado').attr("checked", true);
                else
                    $('#bloqueado').removeAttr("checked");
                if (d.extra_credito == 1)
                    $('#extra_credito').attr("checked", true);
                else
                    $('#extra_credito').removeAttr("checked");
            }, "json");
            var grid = Sigma.$grid("solicitud_grid");
            grid.loadURL = '/nymsa/credito/cargar_cobros/' + $('#id_cliente').val().trim();
            grid.reload();
        }
    }

    function cliente_nota_credito() {
        uri = "/nymsa/credito/cliente_nota_credito";
        data = {
        "id": $('#ott').val().trim(),
                "caja":{id_caja}
    }
    ;
    res = $.post(uri, data, function(d) {
        $('#id_cliente').val(d.cliente);
        $('#id_nota_credito').val(d.referencia);
    }, "json");
    }

    function cargar_saldo() {
        uri = "/nymsa/credito/cargar_saldo_nota";
        data = {"id": $('#id_nota_credito').val().trim()};
        res = $.post(uri, data, function(d) {
            $('#total_pendiente').val(d.saldo);
            $('#total_abonado').val(d.total - d.saldo);
        }, "json");
    }

    function generar_nota_credito() {
        cliente = $('#id_cliente').val().trim();
        nota_credito = $('#ott').val().trim();
        codigo = "{codigo_nota_credito}";
        serie = {serie_nota_credito};
        fecha = $('#fecha').val().trim();
        caja = {id_caja};
        uri = "/nymsa/credito/inicializar_nota_credito";
        data = {
            "serie_nota_credito": serie,
            "codigo_nota_credito": codigo,
            "caja": caja,
            "cliente": cliente,
            "fecha": fecha,
            "id": nota_credito
        };
        //alert(JSON.stringify(data));

        res = $.post(uri, data, function(d) {
            if (d != null) {
                $('#id_nota_credito').val(d.id);
                $('#ott').val(d.muestra);
                $('#ott').attr('disabled', 'disabled');
                $('#fecha').val(d.fecha);
                $('#fecha').attr('disabled', 'disabled');
                $('#id_cliente').val(d.cliente);
                $('#id_cliente').attr('disabled', 'disabled');
                if (d.aplicado != 1) {
                    $('#btnAplicar').removeAttr('disabled');
                    window.aplicado = false;
                } else {
                    $('#ckAplicado').attr("checked", "checked");
                    window.aplicado = true;
                }
                window.guardar = true;
                cargar_saldo();
            }
        }, "json");
    }

    function guardar_nota() {

        if (window.guardar) {
            if (!window.aplicado) {
                if (confirm("Esta seguro?")) {
                    uri = "/nymsa/credito/guardar_nota/" + $('#id_nota_credito').val().trim();
                    location.href = uri;
                }
            } else {
                alert("Ya se ha aplicado");
            }
        } else {
            alert("Nada que procesar");
        }
    }

</script>